#%RAML 1.0
baseUri: https://www.hmislynk.com/hmis-clientapi/rest/v2014
mediaType: application/json
protocols:
  -  HTTPS
securedBy: [oauth_2_0]
securitySchemes:
  oauth_2_0: !include security-schemes/oauth_2_0.raml
title: 2014 HMIS
version: 1.0.0
types:
  affiliation : !include types/affiliation.json
  affiliation_id : !include types/affiliation_id.json
  affiliations_ids : !include types/affiliations_ids.json
  client : !include types/client.json
  client_id : !include types/client_id.json
  clients : !include types/clients.json
  clients_ids : !include types/clients_ids.json
  commercial_sexual_exploitation : !include types/commercial_sexual_exploitation.json
  commercial_sexual_exploitation_id : !include types/commercial_sexual_exploitation_id.json
  commercial_sexual_exploitations_ids : !include types/commercial_sexual_exploitations_ids.json
  connection_with_soar : !include types/connection_with_soar.json
  connection_with_soar_id : !include types/connection_with_soar_id.json
  connection_with_soars_ids : !include types/connection_with_soars_ids.json
  date_of_engagement : !include types/date_of_engagement.json
  date_of_engagement_id : !include types/date_of_engagement_id.json
  date_of_engagements_ids : !include types/date_of_engagements_ids.json
  disabilities_ids : !include types/disabilities_ids.json
  disability : !include types/disability.json
  disability_id : !include types/disability_id.json
  domestic_violence : !include types/domestic_violence.json
  domestic_violence_id : !include types/domestic_violence_id.json
  domestic_violences_ids : !include types/domestic_violences_ids.json
  employment : !include types/employment.json
  employment_id : !include types/employment_id.json
  employments : !include types/employments.json
  employments_ids : !include types/employments_ids.json
  enrollment : !include types/enrollment.json
  enrollment_coc : !include types/enrollment_coc.json
  enrollment_coc_id : !include types/enrollment_coc_id.json
  enrollment_cocs_ids : !include types/enrollment_cocs_ids.json
  enrollment_id : !include types/enrollment_id.json
  enrollments_ids : !include types/enrollments_ids.json
  exit : !include types/exit.json
  exit_housing_assessment : !include types/exit_housing_assessment.json
  exit_housing_assessment_id : !include types/exit_housing_assessment_id.json
  exit_housing_assessment_ids : !include types/exit_housing_assessment_ids.json
  exit_id : !include types/exit_id.json
  exit_plans_action : !include types/exit_plans_action.json
  exit_plans_action_id : !include types/exit_plans_action_id.json
  exit_plans_actions_ids : !include types/exit_plans_actions_ids.json
  exits_ids : !include types/exits_ids.json
  family_reunification : !include types/family_reunification.json
  family_reunification_id : !include types/family_reunification_id.json
  family_reunifications_ids : !include types/family_reunifications_ids.json
  former_ward_child_welfare : !include types/former_ward_child_welfare.json
  former_ward_child_welfare_id : !include types/former_ward_child_welfare_id.json
  former_ward_child_welfares_ids : !include types/former_ward_child_welfares_ids.json
  former_ward_juvenile_justice : !include types/former_ward_juvenile_justice.json
  former_ward_juvenile_justice_id : !include types/former_ward_juvenile_justice_id.json
  former_ward_juvenile_justices_ids : !include types/former_ward_juvenile_justices_ids.json
  funder : !include types/funder.json
  funder_id : !include types/funder_id.json
  funders_ids : !include types/funders_ids.json
  get_all_hmis_type_names : !include types/get_all_hmis_type_names.json
  get_all_hmis_type_value_of_hmis_type : !include types/get_all_hmis_type_value_of_hmis_type.json
  get_all_survey_questions : !include types/get_all_survey_questions.json
  get_survey_question_by_hud_id : !include types/get_survey_question_by_hud_id.json
  health_insurance : !include types/health_insurance.json
  health_insurance_id : !include types/health_insurance_id.json
  health_insurance_ids : !include types/health_insurance_ids.json
  health_status : !include types/health_status.json
  health_status_id : !include types/health_status_id.json
  health_statuses_ids : !include types/health_statuses_ids.json
  housing_assessment_disposition : !include types/housing_assessment_disposition.json
  housing_assessment_disposition_id : !include types/housing_assessment_disposition_id.json
  housing_assessment_dispositions_ids : !include types/housing_assessment_dispositions_ids.json
  income_and_source : !include types/income_and_source.json
  income_and_source_id : !include types/income_and_source_id.json
  income_and_sources_ids : !include types/income_and_sources_ids.json
  inventories_ids : !include types/inventories_ids.json
  inventory : !include types/inventory.json
  inventory_id : !include types/inventory_id.json
  last_grade_completed : !include types/last_grade_completed.json
  last_grade_completed_id : !include types/last_grade_completed_id.json
  last_grade_completeds_ids : !include types/last_grade_completeds_ids.json
  last_permanent_address : !include types/last_permanent_address.json
  last_permanent_address_id : !include types/last_permanent_address_id.json
  last_permanent_addresses_ids : !include types/last_permanent_addresses_ids.json
  medical_assistance : !include types/medical_assistance.json
  medical_assistance_id : !include types/medical_assistance_id.json
  medical_assistances_ids : !include types/medical_assistances_ids.json
  non_cash_benefit : !include types/non_cash_benefit.json
  non_cash_benefit_id : !include types/non_cash_benefit_id.json
  non_cash_benefits_ids : !include types/non_cash_benefits_ids.json
  organization : !include types/organization.json
  organization_id : !include types/organization_id.json
  organization_id_only : !include types/organization_id_only.json
  organizations_ids : !include types/organizations_ids.json
  path_status : !include types/path_status.json
  path_status_id : !include types/path_status_id.json
  path_statuses_ids : !include types/path_statuses_ids.json
  percent_ami : !include types/percent_ami.json
  percent_ami_id : !include types/percent_ami_id.json
  percent_amis_ids : !include types/percent_amis_ids.json
  project : !include types/project.json
  project_coc : !include types/project_coc.json
  project_coc_id : !include types/project_coc_id.json
  project_cocs_ids : !include types/project_cocs_ids.json
  project_completion_status : !include types/project_completion_status.json
  project_completion_status_id : !include types/project_completion_status_id.json
  project_completion_statuses_ids : !include types/project_completion_statuses_ids.json
  project_id : !include types/project_id.json
  projects_ids : !include types/projects_ids.json
  referral_source : !include types/referral_source.json
  referral_source_id : !include types/referral_source_id.json
  referral_sources_ids : !include types/referral_sources_ids.json
  residential_move_in : !include types/residential_move_in.json
  residential_move_in_id : !include types/residential_move_in_id.json
  residential_move_ins_ids : !include types/residential_move_ins_ids.json
  rhy_bcp_status : !include types/rhy_bcp_status.json
  rhy_bcp_status_id : !include types/rhy_bcp_status_id.json
  rhy_bcp_statuses_ids : !include types/rhy_bcp_statuses_ids.json
  school_status : !include types/school_status.json
  school_status_id : !include types/school_status_id.json
  school_statuses_ids : !include types/school_statuses_ids.json
  service : !include types/service.json
  service_id : !include types/service_id.json
  services_ids : !include types/services_ids.json
  sexual_orientation : !include types/sexual_orientation.json
  sexual_orientation_id : !include types/sexual_orientation_id.json
  sexual_orientations_ids : !include types/sexual_orientations_ids.json
  site : !include types/site.json
  site_id : !include types/site_id.json
  sites_ids : !include types/sites_ids.json
  veteran_info : !include types/veteran_info.json
  veteran_info_id : !include types/veteran_info_id.json
  veteran_infos_ids : !include types/veteran_infos_ids.json
  worst_housing_situation : !include types/worst_housing_situation.json
  worst_housing_situation_id : !include types/worst_housing_situation_id.json
  worst_housing_situations_ids : !include types/worst_housing_situations_ids.json
  youth_critical_issue : !include types/youth_critical_issue.json
  youth_critical_issue_id : !include types/youth_critical_issue_id.json
  youth_critical_issues_ids : !include types/youth_critical_issues_ids.json

resourceTypes:
  collection: !include types/collection.raml
  member: !include types/member.raml

/clients/{clientId}/consentmessages:
  displayName: Consent Message
  get:
    description: Gets a list of consent messages for the specified client.
    responses:
      200:
        body:
          example : |
            {
              "oAuthMessageGroups": {
                "oAuthMessageGroup": [
                  {
                    "consentMessage": "Read your basic account information",
                    "detailedConsentMessageExists": "false",
                    "oAuthMessageItems": {
                      "oAuthMessageItem": {
                        "consentMessage": "Read your account id, first name, middle name and last name",
                        "detailedConsentMessageExists": "false"
                      }
                    }
                  },
                  {
                    "consentMessage": "read information associated with your account",
                    "oAuthMessageItems": {
                      "oAuthMessageItem": [
                        {
                          "consentMessage": "Sample consent message",
                          "detailedConsentMessageExists": "false"
                        },
                        {
                          "consentMessage": "sample consent message",
                          "detailedConsentMessageExists": "false"
                        }
                      ]
                    }
                  }
                ]
              }
            }
      404 :
        body:
          example : |
            {
              "errors": {
                "error": {
                  "code": "CLIENT_NOT_FOUND",
                  "message": "the specified client is not found"
                }
              }
            }
/clients/{clientId}/detailedconsentmessages:
  get:
    description:
      Gets a list of detailed consent messages for the specified client.
    responses:
      200:
        body:
          example: |
                  {
                    "oAuthMessageGroups": {
                      "oAuthMessageGroup": {
                        "consentMessage": "Consent message for the API",
                        "detailedConsentMessage": "some detailed consent message",
                        "oAuthMessageItems": {
                          "oAuthMessageItem": { "detailedConsentMessage": "This is the detailed consent message" }
                        }
                      }
                    }
                  }
      404:
        body:
          example: |
                    {
                      "errors": {
                        "error": {
                          "code": "CLIENT_NOT_FOUND",
                          "message": "the specified client (trusted App) is not found"
                        }
                      }
                    }
/clients:
  type:
    collection:
      schema_ids: clients_ids
      schema_ids_example: !include examples/clients_ids_example.json
      schema: client
      schema_example: !include examples/client_example.json
      schema_id_example: !include examples/client_id_example.json
  /{clientid}:
    type:
       member:
        schema: client
        schema_id: client_id
        schema_id_example: !include examples/client_id_example.json
        schema_example: !include examples/client_example.json
    /enrollments:
      type:
        collection:
          schema_ids: enrollments_ids
          schema_ids_example: !include examples/enrollments_ids_example.json
          schema: enrollment
          schema_example: !include examples/enrollment_example.json
          schema_id_example: !include examples/enrollment_id_example.json
      /{enrollmentid}:
        type:
          member:
            schema: enrollment
            schema_id: enrollment_id
            schema_id_example: !include examples/enrollment_id_example.json
            schema_example: !include examples/enrollment_example.json
        /commercialsexualexploitations:
          type:
            collection:
              schema_ids: commercial_sexual_exploitations_ids
              schema_ids_example: !include examples/commercial_sexual_exploitations_ids_example.json
              schema: commercial_sexual_exploitation
              schema_example: !include examples/commercial_sexual_exploitation_example.json
              schema_id_example: !include examples/commercial_sexual_exploitation_id_example.json
          /{commercialsexualexploitationid}:
            type:
              member:
                schema: commercial_sexual_exploitation
                schema_id: commercial_sexual_exploitation_id
                schema_id_example: !include examples/commercial_sexual_exploitation_id_example.json
                schema_example: !include examples/commercial_sexual_exploitation_example.json
        /dateofengagements:
          type:
            collection:
              schema_ids: date_of_engagements_ids
              schema_ids_example: !include examples/date_of_engagements_ids_example.json
              schema: date_of_engagement
              schema_example: !include examples/date_of_engagement_example.json
              schema_id_example: !include examples/date_of_engagement_id_example.json
          /{dateofengagementid}:
            type:
              member:
                schema: date_of_engagement
                schema_id: date_of_engagement_id
                schema_id_example: !include examples/date_of_engagement_id_example.json
                schema_example: !include examples/date_of_engagement_example.json
        /disabilities:
          type:
            collection:
              schema_ids: disabilities_ids
              schema_ids_example: !include examples/disabilities_ids_example.json
              schema: disability
              schema_example: !include examples/disability_example.json
              schema_id_example: !include examples/disability_id_example.json
          /{disabilityid}:
            type:
              member:
                schema: disability
                schema_id: disability_id
                schema_id_example: !include examples/disability_id_example.json
                schema_example: !include examples/disability_example.json
        /domesticviolences:
          type:
            collection:
              schema_ids: domestic_violences_ids
              schema_ids_example: !include examples/domestic_violences_ids_example.json
              schema: domestic_violence
              schema_example: !include examples/domestic_violence_example.json
              schema_id_example: !include examples/domestic_violence_id_example.json
          /{domesticviolenceid}:
            type:
              member:
                schema: domestic_violence
                schema_id: domestic_violence_id
                schema_id_example: !include examples/domestic_violence_id_example.json
                schema_example: !include examples/domestic_violence_example.json
        /employments:
          type:
            collection:
              schema_ids: employments_ids
              schema_ids_example: !include examples/employments_ids_example.json
              schema: employment
              schema_example: !include examples/employment_example.json
              schema_id_example: !include examples/employment_id_example.json
          /{employmentid}:
            type:
              member:
                schema: employment
                schema_id: employment_id
                schema_id_example: !include examples/employment_id_example.json
                schema_example: !include examples/employment_example.json
        /enrollmentcocs:
          type:
            collection:
              schema_ids: enrollment_cocs_ids
              schema_ids_example: !include examples/enrollment_cocs_ids_example.json
              schema: enrollment_coc
              schema_example: !include examples/enrollment_coc_example.json
              schema_id_example: !include examples/enrollment_coc_id_example.json
          /{enrollmentcocid}:
            type:
              member:
                schema: enrollment_coc
                schema_id: enrollment_coc_id
                schema_id_example: !include examples/enrollment_coc_id_example.json
                schema_example: !include examples/enrollment_coc_example.json
        /exits:
          type:
            collection:
              schema_ids: exits_ids
              schema_ids_example: !include examples/exits_ids_example.json
              schema: exit
              schema_example: !include examples/exit_example.json
              schema_id_example: !include examples/exit_id_example.json
          /{exitid}:
            type:
              member:
                schema: exit
                schema_id: exit_id
                schema_id_example: !include examples/exit_id_example.json
                schema_example: !include examples/exit_example.json
            /connectionwithsoars:
              type:
                collection:
                  schema_ids: connection_with_soars_ids
                  schema_ids_example: !include examples/connection_with_soars_ids_example.json
                  schema: connection_with_soar
                  schema_example: !include examples/connection_with_soar_example.json
                  schema_id_example: !include examples/connection_with_soar_id_example.json
              /{connectionwithsoarid}:
                type:
                  member:
                    schema: connection_with_soar
                    schema_id: connection_with_soar_id
                    schema_id_example: !include examples/connection_with_soar_id_example.json
                    schema_example: !include examples/connection_with_soar_example.json
            /exithousingassessments:

            /exitplansactionses:
            /familyreunifications:
            /housingassessmentdispositions:
            /projectcompletionstatuses:
        /formerwardchildwelfares:
        /formerwardjuvenilejustices:
        /healthinsurances:
        /healthstatuses:
        /incomeandsources:
        /lastgradecompleteds:
        /lastpermanentaddresses:
        /medicalassistances:
        /noncashbenefits:
        /referralsources:
        /residentialmoveins:
        /rhybcpstatuses:
        /pathstatuses:
        /percentamis:
        /schoolstatuses:
        /services:
        /sexualorientations:
        /worsthousingsituations:
        /youthcriticalissues:
    /veteraninfos:
/projects:
    /affiliations:
    /funders:
/organizations:
/projects/{projectid}/project_cocs:
/projects/{projectid}/project_cocs/{project_coc_id}:
/projects/{projectid}/project_cocs/{project_coc_id}/inventories:
/projects/{projectid}/project_cocs/{project_coc_id}/inventories/{inventory_id}:
/projects/{projectid}/project_cocs/{project_coc_id}/sites:
/projects/{projectid}/project_cocs/{project_coc_id}/sites/{site_id}:
/search/{searchentity}:
  get:
    description: |
          The Search API is optimized to find the specific entity you're looking for (e.g., a client, enrollments, etc.).It's designed to  find the one result you're looking for (or maybe the few results you're looking for). Currently hmislynk supporting search on 'clients'  and 'projects' entities only. Just like searching on Google, you sometimes want to see a few pages of search results so that you can find the item that best meets your needs.  HMISLynk Search API provides up to 50 results for each searh. However, the search results can be limited by the client.
            Note: 1) API currently supports search on client and project entities
                  2) URIs are /search/clients and /search/projects
    queryParameters:
      q:
        description: |
             The search keywords for clients, as well as any qualifiers.Currently supported search fields are first name,middle name,last name,dob,source system id, client's dedup Id and ssn. For search on "date of birth" field the format MM/dd/YYYY should be used for the search keyword. When searched on dedup Id, the API returns the list of all clients (from all the schema years) that has the same dedup Id.

             The seach keywords for projects, as well as any qualifiers. Currenly supported search fields are projectName, projectCommonName, projectId.
      sort:
        description: The sort field. Default- results are sorted by "created date".
        type: string
        example: created date
      order:
        description: The sort order if sort parameter is provided. One of asc or desc. Default- desc.
        type: string
        example: desc
        default: desc
      startIndex:
        description: The start Index from where the search results should be returned. Default - 0
        type: integer
        example: 0
        default: 0
      maxItems:
        description: the number or Items that should be included in the results . Default - 50
        type: integer
        example: 50
        default: 50
      exclude:
         description: |
            Excludes fields from the search.Currently it suppoted value is "ssi" (to exclude source system id) only.
    responses:
      200:
        body:
          description: |
            sample search responses for client and project searches
            {
            "searchResults": {
              "pagination": {
                "total":"2",
                "from": "0",
                "maximum": "50",
                "returned":"2"
              },
              "items": [
                {
                  "clientId": "65e3df62-dd22-4d07-83ef-6858a6322839",
                  "firstName": "Eric",
                  "middleName": "Johnstone",
                  "lastName": "Smith",
                  "nameSuffix": "Jr.",
                  "nameDataQuality": "1",
                  "ssn": "ssn ",
                  "ssnDataQuality": "1",
                  "dob": "1459498034983",
                  "dobDataQuality": "1",
                  "race": "1",
                  "ethnicity": "1",
                  "gender": "1",
                  "otherGender": "Test",
                  "veteranStatus": "8",
                  "phoneNumber":"1-541-754-3010",
                  "emailAddress":"Jeanette@gmail.com",
                  "link":"/hmis-clientapi/rest/v2015/clients/65e3df62-dd22-4d07-83ef-6858a6322839"
                },
                {
                  "clientId": "cf98b9b2-9a77-4133-99a3-b60f05a12ad1",
                  "firstName": "Harold",
                  "middleName": "William",
                  "lastName": "Jones",
                  "nameSuffix": "III ",
                  "nameDataQuality": "1",
                  "ssn": "ssn ",
                  "ssnDataQuality": "1",
                  "dob": "1459498034983",
                  "dobDataQuality": "1",
                  "race": "1",
                  "ethnicity": "1",
                  "gender": "1",
                  "otherGender": "Test",
                  "veteranStatus": "8",
                  "link":"/hmis-clientapi/rest/v2014/clients/cf98b9b2-9a77-4133-99a3-b60f05a12ad1"
                }
              ]
            }
            }

            {
              "searchResults":{
                "pagination":{
                  "from":0,
                  "returned":1,
                  "total":1,
                  "maximum":50,
                  "sort":{
                    "field":"id",
                    "order":"asc"
                  }
                },
                "items":[
                  {
                    "projectId":"066c95d3-c97c-40b9-b8c1-bf12cafdfca4",
                    "projectName":"ProjectName_1459515376900",
                    "projectCommonName":"ProjectCommonName_1459515376900,
                    "continuumProject":0,
                    "projectType":2,
                    "targetPopulation":3,
                    "trackingMethod":0,
                    "schemaYear":2015,
                    "link":"/hmis-clientapi/rest/v2015/projects/066c95d3-c97c-40b9-b8c1-bf12cafdfca4",
                    "projectGroup":"HO0002"
                  }
                ]
              }
            }
/dataelements:
  description: Get all available data elements
  get:
    responses:
      200:
        body:
          application/json:
             example: !include examples/get_all_hmis_type_names_example.json
             type: !include types/get_all_hmis_type_names.json
  /{name}/values:
    description:  get all values of elements
    get:
      responses:
        200:
          body:
            application/json:
              example: !include examples/get_all_hmis_type_value_of_hmis_type_example.json
              type: !include types/get_all_hmis_type_value_of_hmis_type.json

/questions:
  description:  get all HUD Questions
  get:
    responses:
      200:
        body:
          application/json:
            example: !include examples/get_all_survey_questions_example.json
            type: !include types/get_all_survey_questions.json
/questions/{hudQuestionId}:
  description:  get HUD Question by hudQuestionId
  get:
    responses:
      200:
        body:
          application/json:
            example: !include examples/get_survey_question_by_hud_id_example.json
            type: !include types/get_survey_question_by_hud_id.json
