openapi: 3.0.0
info:
  title: 2014 HMIS
  version: 1.3.0
  description: |
       **Note :**
              Please note that the partial updates are supported via PUT APIs. However, Note that If "null" value is passed for any element, in the PUT request body, it will be ignored. An empty string value should be sent (instead of "null" value) for the elements that need to be updated with NULL values.
servers:
  - url: 'https://api.hslynk.com/hmis-clientapi/rest/v2014'
paths:
  /clients:
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              schema:
                {
                  "type": "object",
                  "required": [
                    "clients"
                  ],
                  "properties": {
                    "clients": {
                      "type": "object",
                      "required": [
                        "pagination",
                        "clients"
                      ],
                      "properties": {
                        "pagination": {
                          "type": "object",
                          "required": [
                            "from",
                            "returned",
                            "total",
                            "maximum",
                            "sort"
                          ],
                          "properties": {
                            "from": {
                              "type": "integer"
                            },
                            "returned": {
                              "type": "integer"
                            },
                            "total": {
                              "type": "integer"
                            },
                            "maximum": {
                              "type": "integer"
                            },
                            "sort": {
                              "type": "object"
                            }
                          }
                        },
                        "clients": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "links",
                              "clientId",
                              "dedupClientId",
                              "firstName",
                              "middleName",
                              "lastName",
                              "nameSuffix",
                              "nameDataQuality",
                              "ssn",
                              "ssnDataQuality",
                              "dob",
                              "dobDataQuality",
                              "race",
                              "ethnicity",
                              "gender",
                              "otherGender",
                              "phoneNumber",
                              "emailAddress"
                            ],
                            "properties": {
                              "links": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "required": [
                                    "rel",
                                    "href"
                                  ],
                                  "properties": {
                                    "rel": {
                                      "type": "string",
                                    },
                                    "href": {
                                      "type": "string",
                                    }
                                  }
                                }
                              },
                              "clientId": {
                                "type": "string",
                                "format": "uuid",
                              },
                              "dedupClientId": {
                                "type": "string",
                                "format": "uuid",
                              },
                              "firstName": {
                                "type": "string",
                              },
                              "middleName": {
                                "type": "string",
                              },
                              "lastName": {
                                "type": "string",
                              },
                              "nameSuffix": {
                                "type": "string",
                              },
                              "nameDataQuality": {
                                "type": "string",
                              },
                              "ssn": {
                                "type": "string",
                              },
                              "ssnDataQuality": {
                                "type": "string",
                              },
                              "dob": {
                                "type": "integer"
                              },
                              "dobDataQuality": {
                                "type": "string",
                              },
                              "race": {
                                "type": "string",
                              },
                              "ethnicity": {
                                "type": "string",
                              },
                              "gender": {
                                "type": "string",
                              },
                              "otherGender": {
                                "type": "string",
                              },
                              "phoneNumber": {
                                "type": "string",
                              },
                              "emailAddress": {
                                "type": "string",
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              example:
                    clients:
                      pagination:
                        from: 0
                        returned: 1
                        total: 3
                        maximum: 30
                        sort: {}
                      clients:
                        - links:
                          - rel: history
                            href: "/clients/717661f4-eaa3-4298-8739-789ab8a1f3d1/history"
                          clientId: 717661f4-eaa3-4298-8739-789ab8a1f3d1
                          dedupClientId: b7eb6be3-1ed3-49f4-a0c9-ae78d7f386fd
                          firstName: 'FirstName '
                          middleName: Middle Name
                          lastName: LAST NAME
                          nameSuffix: NS
                          nameDataQuality: '1'
                          ssn: 'ssn      '
                          ssnDataQuality: '1'
                          dob: 1458035236115
                          dobDataQuality: '1'
                          race: '1'
                          ethnicity: '1'
                          gender: '1'
                          otherGender: 'Test      '
                          phoneNumber: 1-541-754-3010
                          emailAddress: Jeanette@gmail.com
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for client.  Returns a list of client ids, based on the query
        parameters sent.  The query parameters are cumulative, so each
        additional query parameter narrows the search down further.
      operationId: GET_clients
      parameters:
        - name: startIndex
          in: query
          required: true
          description: >-
            start index

          schema:
            type: string
        - name: maxItems
          in: query
          required: true
          description: >-
            Max items in response

          schema:
            type: string
    post:
      responses:
        '201':
          description: OK - New resource has been created.
          content:
            application/json:
              schema:
                {
                  "type": "object",
                  "required": [
                    "clients"
                  ],
                  "properties": {
                    "clients": {
                      "type": "object",
                      "required": [
                        "clientId"
                      ],
                      "properties": {
                        "clientId": {
                          "type": "string",
                          "format": "uuid"
                        }
                      }
                    }
                  }
                }
              example:

                  client:
                    clientId: 717661f4-eaa3-4298-8739-789ab8a1f3d1
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            access is not allowed.
        '404':
          description: Not Found – There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: Internal Server Error.
      description: |
                    1)  an SSN value submitted as an empty string (not null) will be treatedand stored by HSLynk as a nullified/deleted SSN data element
                    2) a full 9 digit SSN may be submitted
                    3) a partial SSN may be submitted, but one or more lower case 'x'(s) must be present in the locations of the missing actual SSN digits.
      operationId: POST_clients
      requestBody:
        content:
          application/json:
              schema:
                {
                  "type": "object",
                  "required": [
                    "client"
                  ],
                  "properties": {
                    "client": {
                      "type": "object",
                      "required": [
                        "firstName",
                        "middleName",
                        "lastName",
                        "nameSuffix",
                        "nameDataQuality",
                        "ssn",
                        "ssnDataQuality",
                        "dob",
                        "dobDataQuality",
                        "race",
                        "ethnicity",
                        "gender",
                        "otherGender",
                        "phoneNumber",
                        "emailAddress"
                      ],
                      "properties": {
                        "firstName": {
                          "type": "string",
                        },
                        "middleName": {
                          "type": "string",
                        },
                        "lastName": {
                          "type": "string",
                        },
                        "nameSuffix": {
                          "type": "string",
                        },
                        "nameDataQuality": {
                          "type": "string",
                        },
                        "ssn": {
                          "type": "string",
                        },
                        "ssnDataQuality": {
                          "type": "string",
                        },
                        "dob": {
                          "type": "integer"
                        },
                        "dobDataQuality": {
                          "type": "string",
                        },
                        "race": {
                          "type": "string",
                        },
                        "ethnicity": {
                          "type": "string",
                        },
                        "gender": {
                          "type": "string",
                        },
                        "otherGender": {
                          "type": "string",
                        },
                        "phoneNumber": {
                          "type": "string",
                        },
                        "emailAddress": {
                          "type": "string",
                        }
                      }
                    }
                  }
                }
              example:
                  client:
                    firstName: ' first name'
                    middleName: Middle Name
                    lastName: LAST NAME
                    nameSuffix: NS
                    nameDataQuality: '1'
                    ssn: 123-45-6789
                    ssnDataQuality: '1'
                    dob: 1458035236115
                    dobDataQuality: '1'
                    race: '1'
                    ethnicity: '1'
                    gender: '1'
                    otherGender: 'Test      '
                    phoneNumber: 1-541-754-3010
                    emailAddress: Jeanette@gmail.com
        required: true
  '/clients/{clientid}':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "client"
                    ],
                    "properties": {
                      "client": {
                        "type": "object",
                        "required": [
                          "links",
                          "clientId",
                          "firstName",
                          "middleName",
                          "lastName",
                          "nameSuffix",
                          "nameDataQuality",
                          "ssn",
                          "ssnDataQuality",
                          "dob",
                          "dobDataQuality",
                          "race",
                          "ethnicity",
                          "gender",
                          "otherGender",
                          "phoneNumber",
                          "emailAddress"
                        ],
                        "properties": {
                          "links": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "required": [
                                "rel",
                                "href"
                              ],
                              "properties": {
                                "rel": {
                                  "type": "string",
                                },
                                "href": {
                                  "type": "string",
                                }
                              }
                            }
                          },
                          "clientId": {
                            "type": "string",
                            "format": "uuid",
                          },
                          "firstName": {
                            "type": "string",
                          },
                          "middleName": {
                            "type": "string",
                          },
                          "lastName": {
                            "type": "string",
                          },
                          "nameSuffix": {
                            "type": "string",
                          },
                          "nameDataQuality": {
                            "type": "string",
                          },
                          "ssn": {
                            "type": "string",
                          },
                          "ssnDataQuality": {
                            "type": "string",
                          },
                          "dob": {
                            "type": "integer"
                          },
                          "dobDataQuality": {
                            "type": "string",
                          },
                          "race": {
                            "type": "string",
                          },
                          "ethnicity": {
                            "type": "string",
                          },
                          "gender": {
                            "type": "string",
                          },
                          "otherGender": {
                            "type": "string",
                          },
                          "phoneNumber": {
                            "type": "string",
                          },
                          "emailAddress": {
                            "type": "string",
                          }
                        }
                      }
                    }
                  }
                example:
                    client:
                        links:
                        - rel: history
                          href: "/clients/717661f4-eaa3-4298-8739-789ab8a1f3d1/history"
                        clientId: 717661f4-eaa3-4298-8739-789ab8a1f3d1
                        firstName: ' first name'
                        middleName: Middle Name
                        lastName: LAST NAME
                        nameSuffix: NS
                        nameDataQuality: '1'
                        ssn: 123-45-6789
                        ssnDataQuality: '1'
                        dob: 1458035236115
                        dobDataQuality: '1'
                        race: '1'
                        ethnicity: '1'
                        gender: '1'
                        otherGender: 'Test      '
                        phoneNumber: 1-541-754-3010
                        emailAddress: Jeanette@gmail.com
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires an user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: Gets a client using a URI resource parameter/ID.
      operationId: GET_clients-clientid
    put:
      responses:
        '200':
          description: OK – Everything is working.
        '304':
          description: Not Modified – The client can use cached data.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires a user.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: |
                      Updates a specific client specified by the URI resource parameter/ID.
                      1)  an SSN value submitted as an empty string (not null) will be treate dand stored by HSLynk as a nullified/deleted SSN data element
                      2) a full 9 digit SSN may be submitted
                      3) a partial SSN may be submitted, but one or more lower case 'x'(s) must be present in the locations of the missing actual SSN digits.
      operationId: PUT_clients-clientid
      requestBody:
        content:
          application/json:
              schema:
                {
                  "type": "object",
                  "required": [
                    "client"
                  ],
                  "properties": {
                    "client": {
                      "type": "object",
                      "required": [
                        "firstName",
                        "middleName",
                        "lastName",
                        "nameSuffix",
                        "nameDataQuality",
                        "ssn",
                        "ssnDataQuality",
                        "dob",
                        "dobDataQuality",
                        "race",
                        "ethnicity",
                        "gender",
                        "otherGender",
                        "phoneNumber",
                        "emailAddress"
                      ],
                      "properties": {
                        "firstName": {
                          "type": "string",
                        },
                        "middleName": {
                          "type": "string",
                        },
                        "lastName": {
                          "type": "string",
                        },
                        "nameSuffix": {
                          "type": "string",
                        },
                        "nameDataQuality": {
                          "type": "string",
                        },
                        "ssn": {
                          "type": "string",
                        },
                        "ssnDataQuality": {
                          "type": "string",
                        },
                        "dob": {
                          "type": "integer"
                        },
                        "dobDataQuality": {
                          "type": "string",
                        },
                        "race": {
                          "type": "string",
                        },
                        "ethnicity": {
                          "type": "string",
                        },
                        "gender": {
                          "type": "string",
                        },
                        "otherGender": {
                          "type": "string",
                        },
                        "phoneNumber": {
                          "type": "string",
                        },
                        "emailAddress": {
                          "type": "string",
                        }
                      }
                    }
                  }
                }
              example:
                  client:
                    firstName: ' first name'
                    middleName: Middle Name
                    lastName: LAST NAME
                    nameSuffix: NS
                    nameDataQuality: '1'
                    ssn: 123-45-6789
                    ssnDataQuality: '1'
                    dob: 1458035236115
                    dobDataQuality: '1'
                    race: '1'
                    ethnicity: '1'
                    gender: '1'
                    otherGender: 'Test      '
                    phoneNumber: 1-541-754-3010
                    emailAddress: Jeanette@gmail.com
        required: true
    delete:
      responses:
        '204':
          description: OK – The resource was successfully deleted.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: Deletes a specific client specified by the URI resource parameter/ID.
      operationId: DELETE_clients-clientid
    parameters:
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/history':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "Clients"
                    ],
                    "properties": {
                      "Clients": {
                        "type": "object",
                        "required": [
                          "pagination",
                          "clients"
                        ],
                        "properties": {
                          "pagination": {
                            "type": "object",
                            "required": [
                              "from",
                              "returned",
                              "total",
                              "maximum",
                              "sort"
                            ],
                            "properties": {
                              "from": {
                                "type": "integer"
                              },
                              "returned": {
                                "type": "integer"
                              },
                              "total": {
                                "type": "integer"
                              },
                              "maximum": {
                                "type": "integer"
                              },
                              "sort": {
                                "type": "object"
                              }
                            }
                          },
                          "clients": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "required": [
                                "clientId",
                                "dedupClientId",
                                "firstName",
                                "middleName",
                                "lastName",
                                "nameSuffix",
                                "nameDataQuality",
                                "ssn",
                                "ssnDataQuality",
                                "dob",
                                "dobDataQuality",
                                "race",
                                "ethnicity",
                                "gender",
                                "otherGender",
                                "phoneNumber",
                                "emailAddress"
                              ],
                              "properties": {
                                "clientId": {
                                  "type": "string",
                                  "format": "uuid",
                                },
                                "dedupClientId": {
                                  "type": "string",
                                  "format": "uuid",
                                },
                                "firstName": {
                                  "type": "string",
                                },
                                "middleName": {
                                  "type": "string",
                                },
                                "lastName": {
                                  "type": "string",
                                },
                                "nameSuffix": {
                                  "type": "string",
                                },
                                "nameDataQuality": {
                                  "type": "string",
                                },
                                "ssn": {
                                  "type": "string",
                                },
                                "ssnDataQuality": {
                                  "type": "string",
                                },
                                "dob": {
                                  "type": "integer"
                                },
                                "dobDataQuality": {
                                  "type": "string",
                                },
                                "race": {
                                  "type": "string",
                                },
                                "ethnicity": {
                                  "type": "string",
                                },
                                "gender": {
                                  "type": "string",
                                },
                                "otherGender": {
                                  "type": "string",
                                },
                                "phoneNumber": {
                                  "type": "string",
                                },
                                "emailAddress": {
                                  "type": "string",
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                example:
                    Clients:
                      pagination:
                        from: 0
                        returned: 1
                        total: 3
                        maximum: 30
                        sort: {}
                      clients:
                        - clientId: 717661f4-eaa3-4298-8739-789ab8a1f3d1
                          dedupClientId: b7eb6be3-1ed3-49f4-a0c9-ae78d7f386fd
                          firstName: 'FirstName '
                          middleName: Middle Name
                          lastName: LAST NAME
                          nameSuffix: NS
                          nameDataQuality: '1'
                          ssn: 'ssn      '
                          ssnDataQuality: '1'
                          dob: 1458035236115
                          dobDataQuality: '1'
                          race: '1'
                          ethnicity: '1'
                          gender: '1'
                          otherGender: 'Test      '
                          phoneNumber: 1-541-754-3010
                          emailAddress: Jeanette@gmail.com
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for client history.  Returns a list of client ids history, based on the query
        parameters sent.  The query parameters are cumulative, so each
        additional query parameter narrows the search down further.
      operationId: GET_clients-clientid-history
      parameters:
        - name: startIndex
          in: query
          required: true
          description: >-
            start index

          schema:
            type: string
        - name: maxItems
          in: query
          required: true
          description: >-
            Max items in response

          schema:
            type: string
    parameters:
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "enrollments"
                    ],
                    "properties": {
                      "enrollments": {
                        "type": "object",
                        "required": [
                          "pagination",
                          "enrollments"
                        ],
                        "properties": {
                          "pagination": {
                            "type": "object",
                            "required": [
                              "from",
                              "returned",
                              "total",
                              "maximum",
                              "sort"
                            ],
                            "properties": {
                              "from": {
                                "type": "integer"
                              },
                              "returned": {
                                "type": "integer"
                              },
                              "total": {
                                "type": "integer"
                              },
                              "maximum": {
                                "type": "integer"
                              },
                              "sort": {
                                "type": "object"
                              }
                            }
                          },
                          "enrollments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "required": [
                                "links",
                                "enrollmentId",
                                "continuouslyhomelessoneyear",
                                "disablingcondition",
                                "entrydate",
                                "householdid",
                                "housingstatus",
                                "monthshomelesspastthreeyears",
                                "monthshomelessthistime",
                                "otherresidenceprior",
                                "personalid",
                                "projectentryid",
                                "relationshiptohoh",
                                "residenceprior",
                                "residencepriorlengthofstay",
                                "statusdocumented",
                                "yearshomeless",
                                "chronicHomeless"
                              ],
                              "properties": {
                                "links": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "required": [
                                      "rel",
                                      "href"
                                    ],
                                    "properties": {
                                      "rel": {
                                        "type": "string",
                                      },
                                      "href": {
                                        "type": "string",
                                      }
                                    }
                                  }
                                },
                                "enrollmentId": {
                                  "type": "string",
                                  "format": "uuid",
                                },
                                "continuouslyhomelessoneyear": {
                                  "type": "string",
                                },
                                "disablingcondition": {
                                  "type": "string",
                                },
                                "entrydate": {
                                  "type": "integer"
                                },
                                "householdid": {
                                  "type": "string",
                                  "format": "uuid",
                                },
                                "housingstatus": {
                                  "type": "string",
                                },
                                "monthshomelesspastthreeyears": {
                                  "type": "string",
                                },
                                "monthshomelessthistime": {
                                  "type": "string",
                                },
                                "otherresidenceprior": {
                                  "type": "string",
                                },
                                "personalid": {
                                  "type": "string",
                                  "format": "uuid",
                                },
                                "projectentryid": {
                                  "type": "string",
                                  "format": "uuid",
                                },
                                "relationshiptohoh": {
                                  "type": "string",
                                },
                                "residenceprior": {
                                  "type": "string",
                                },
                                "residencepriorlengthofstay": {
                                  "type": "string",
                                },
                                "statusdocumented": {
                                  "type": "string",
                                },
                                "yearshomeless": {
                                  "type": "integer"
                                },
                                "chronicHomeless" : {
                                  "type": "integer"
                                },
                                "hmisHouseholdId": {
                                  "type": "string",
                                  "format": "uuid",
                                },
                                "genericHouseHoldId":{
                                  "type": "string",
                                  "format": "uuid",
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                example:
                    enrollments:
                      pagination:
                        from: 0
                        returned: 1
                        total: 1
                        maximum: 30
                        sort: {}
                      enrollments:
                        - links:
                          - rel: history
                            href: "/clients/717661f4-eaa3-4298-8739-789ab8a1f3d1/enrollments/a9577ecf-5fb3-453e-9d3b-2bb81658ffe1/history"
                          - rel: hmisHouseHold
                            href: "/hmis-clientapi/rest/v2014/hmishouseholds/8e956388-b909-41ea-b1d0-203e9cc15c45/"
                          enrollmentId: a9577ecf-5fb3-453e-9d3b-2bb81658ffe1                          
                          continuouslyhomelessoneyear: '1'
                          disablingcondition: '0'
                          entrydate: 1458035288480
                          householdid: 14aa2237-f147-4751-997b-040d9c023998
                          housingstatus: '1'
                          monthshomelesspastthreeyears: '7'
                          monthshomelessthistime: '1'
                          otherresidenceprior: '1'
                          personalid: a8b1ac45-f3c9-4d12-9ac7-46bccbf14a7e
                          projectentryid: 93284e88-515c-4bb8-9246-b1f419106649
                          relationshiptohoh: '2'
                          residenceprior: '2'
                          residencepriorlengthofstay: '2'
                          statusdocumented: '1'
                          yearshomeless: 2
                          chronicHomeless: 1
                          hmisHouseholdId: 8e956388-b909-41ea-b1d0-203e9cc15c45
                          genericHouseHoldId: 1520d4ac-2998-4825-80a6-2f550c37f3f1                          
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for enrollment.  Returns a list of enrollment ids, based on the
        query parameters sent.  The query parameters are cumulative, so each
        additional query parameter narrows the search down further.
      operationId: GET_clients-clientid-enrollments
      parameters:
        - name: startIndex
          in: query
          required: true
          description: >-
            start index

          schema:
            type: string
        - name: maxItems
          in: query
          required: true
          description: >-
            Max items in response

          schema:
            type: string
    post:
      responses:
        '201':
          description: OK - New resource has been created.
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "enrollment"
                    ],
                    "properties": {
                      "enrollment": {
                        "type": "object",
                        "required": [
                          "enrollmentid"
                        ],
                        "properties": {
                          "enrollmentid": {
                            "type": "string",
                            "format": "uuid",
                          }
                        }
                      }
                    }
                  }
                example:
                  enrollment:
                    enrollmentid: a9577ecf-5fb3-453e-9d3b-2bb81658ffe1
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            access is not allowed.
        '404':
          description: Not Found – There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: Internal Server Error.
      description: |
        Add a enrollment
      operationId: POST_clients-clientid-enrollments
      requestBody:
        content:
          application/json:
              schema:
                {
                  "type": "object",
                  "required": [
                    "enrollment"
                  ],
                  "properties": {
                    "enrollment": {
                      "type": "object",
                      "required": [
                        "continuouslyhomelessoneyear",
                        "disablingcondition",
                        "entrydate",
                        "householdid",
                        "housingstatus",
                        "monthshomelesspastthreeyears",
                        "monthshomelessthistime",
                        "otherresidenceprior",
                        "personalid",
                        "projectentryid",
                        "relationshiptohoh",
                        "residenceprior",
                        "residencepriorlengthofstay",
                        "statusdocumented",
                        "yearshomeless",
                        "chronicHomeless"
                      ],
                      "properties": {
                        "continuouslyhomelessoneyear": {
                          "type": "integer"
                        },
                        "disablingcondition": {
                          "type": "integer"
                        },
                        "entrydate": {
                          "type": "integer"
                        },
                        "householdid": {
                          "type": "string",
                          "format": "uuid",
                        },
                        "housingstatus": {
                          "type": "integer"
                        },
                        "monthshomelesspastthreeyears": {
                          "type": "integer"
                        },
                        "monthshomelessthistime": {
                          "type": "integer"
                        },
                        "otherresidenceprior": {
                          "type": "string",
                        },
                        "personalid": {
                          "type": "string",
                          "format": "uuid",
                        },
                        "projectentryid": {
                          "type": "string",
                          "format": "uuid",
                        },
                        "relationshiptohoh": {
                          "type": "integer"
                        },
                        "residenceprior": {
                          "type": "integer"
                        },
                        "residencepriorlengthofstay": {
                          "type": "integer"
                        },
                        "statusdocumented": {
                          "type": "integer"
                        },
                        "yearshomeless": {
                          "type": "integer"
                        },
                        "chronicHomeless" : {
                            "type": "integer"
                        },
                        "hmisHouseholdId": {
                          "type": "string",
                          "format": "uuid",
                        },
                        "genericHouseHoldId":{
                              "type": "string",
                              "format": "uuid",
                        }
                        
                      }
                    }
                  }
                }
              example:
                  enrollment:
                    continuouslyhomelessoneyear: 1
                    disablingcondition: 0
                    entrydate: 1458035288480
                    householdid: 14aa2237-f147-4751-997b-040d9c023998
                    housingstatus: 1
                    monthshomelesspastthreeyears: 7
                    monthshomelessthistime: 1
                    otherresidenceprior: '1'
                    personalid: a8b1ac45-f3c9-4d12-9ac7-46bccbf14a7e
                    projectentryid: 93284e88-515c-4bb8-9246-b1f419106649
                    relationshiptohoh: 2
                    residenceprior: 2
                    residencepriorlengthofstay: 2
                    statusdocumented: 1
                    yearshomeless: 2
                    chronicHomeless: 1
                    hmisHouseholdId: 8e956388-b909-41ea-b1d0-203e9cc15c45
                    genericHouseHoldId: 1520d4ac-2998-4825-80a6-2f550c37f3f1                    
        required: true
    parameters:
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "enrollment"
                    ],
                    "properties": {
                      "enrollment": {
                        "type": "object",
                        "required": [
                          "links",
                          "enrollmentid",
                          "continuouslyhomelessoneyear",
                          "disablingcondition",
                          "entrydate",
                          "householdid",
                          "housingstatus",
                          "monthshomelesspastthreeyears",
                          "monthshomelessthistime",
                          "otherresidenceprior",
                          "personalid",
                          "projectentryid",
                          "relationshiptohoh",
                          "residenceprior",
                          "residencepriorlengthofstay",
                          "statusdocumented",
                          "yearshomeless",
                          "chronicHomeless"
                        ],
                        "properties": {
                          "links": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "required": [
                                "rel",
                                "href"
                              ],
                              "properties": {
                                "rel": {
                                  "type": "string",
                                },
                                "href": {
                                  "type": "string",
                                }
                              }
                            }
                          },
                          "enrollmentid": {
                            "type": "string",
                            "format": "uuid",
                          },
                          "continuouslyhomelessoneyear": {
                            "type": "integer"
                          },
                          "disablingcondition": {
                            "type": "integer"
                          },
                          "entrydate": {
                            "type": "integer"
                          },
                          "householdid": {
                            "type": "string",
                            "format": "uuid",
                          },
                          "housingstatus": {
                            "type": "integer"
                          },
                          "monthshomelesspastthreeyears": {
                            "type": "integer"
                          },
                          "monthshomelessthistime": {
                            "type": "integer"
                          },
                          "otherresidenceprior": {
                            "type": "string",
                          },
                          "personalid": {
                            "type": "string",
                            "format": "uuid",
                          },
                          "projectentryid": {
                            "type": "string",
                            "format": "uuid",
                          },
                          "relationshiptohoh": {
                            "type": "integer"
                          },
                          "residenceprior": {
                            "type": "integer"
                          },
                          "residencepriorlengthofstay": {
                            "type": "integer"
                          },
                          "statusdocumented": {
                            "type": "integer"
                          },
                          "yearshomeless": {
                            "type": "integer"
                          },
                          "chronicHomeless" : {
                            "type": "integer"
                          },
                            "hmisHouseholdId": {
                              "type": "string",
                              "format": "uuid",
                            },
                                "genericHouseHoldId":{
                                  "type": "string",
                                  "format": "uuid",
                                }                            
                        }
                      }
                    }
                  }
                example:
                    enrollment:
                        links:
                        - rel: history
                          href: "/clients/717661f4-eaa3-4298-8739-789ab8a1f3d1/enrollments/a9577ecf-5fb3-453e-9d3b-2bb81658ffe1/history"
                        - rel: hmisHouseHold
                          href: "/hmis-clientapi/rest/v2014/hmishouseholds/8e956388-b909-41ea-b1d0-203e9cc15c45/"                          
                        enrollmentid: a9577ecf-5fb3-453e-9d3b-2bb81658ffe1
                        continuouslyhomelessoneyear: 1
                        disablingcondition: 0
                        entrydate: 1458035288480
                        householdid: 14aa2237-f147-4751-997b-040d9c023998
                        housingstatus: 1
                        monthshomelesspastthreeyears: 7
                        monthshomelessthistime: 1
                        otherresidenceprior: '1'
                        personalid: a8b1ac45-f3c9-4d12-9ac7-46bccbf14a7e
                        projectentryid: 93284e88-515c-4bb8-9246-b1f419106649
                        relationshiptohoh: 2
                        residenceprior: 2
                        residencepriorlengthofstay: 2
                        statusdocumented: 1
                        yearshomeless: 1
                        chronicHomeless: 1
                        hmisHouseholdId: 8e956388-b909-41ea-b1d0-203e9cc15c45     
                        genericHouseHoldId: 1520d4ac-2998-4825-80a6-2f550c37f3f1                        
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires an user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: Gets a enrollment using a URI resource parameter/ID.
      operationId: GET_clients-clientid-enrollments-enrollmentid
    put:
      responses:
        '200':
          description: OK – Everything is working.
        '304':
          description: Not Modified – The client can use cached data.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires a user.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Updates a specific enrollment specified by the URI resource
        parameter/ID.
      operationId: PUT_clients-clientid-enrollments-enrollmentid
      requestBody:
        content:
          application/json:
              schema:
                {
                  "type": "object",
                  "required": [
                    "enrollment"
                  ],
                  "properties": {
                    "enrollment": {
                      "type": "object",
                      "required": [
                        "continuouslyhomelessoneyear",
                        "disablingcondition",
                        "entrydate",
                        "householdid",
                        "housingstatus",
                        "monthshomelesspastthreeyears",
                        "monthshomelessthistime",
                        "otherresidenceprior",
                        "personalid",
                        "projectentryid",
                        "relationshiptohoh",
                        "residenceprior",
                        "residencepriorlengthofstay",
                        "statusdocumented",
                        "yearshomeless",
                        "chronicHomeless"
                      ],
                      "properties": {
                        "continuouslyhomelessoneyear": {
                          "type": "integer"
                        },
                        "disablingcondition": {
                          "type": "integer"
                        },
                        "entrydate": {
                          "type": "integer"
                        },
                        "householdid": {
                          "type": "string",
                          "format": "uuid",
                        },
                        "housingstatus": {
                          "type": "integer"
                        },
                        "monthshomelesspastthreeyears": {
                          "type": "integer"
                        },
                        "monthshomelessthistime": {
                          "type": "integer"
                        },
                        "otherresidenceprior": {
                          "type": "string",
                        },
                        "personalid": {
                          "type": "string",
                          "format": "uuid",
                        },
                        "projectentryid": {
                          "type": "string",
                          "format": "uuid",
                        },
                        "relationshiptohoh": {
                          "type": "integer"
                        },
                        "residenceprior": {
                          "type": "integer"
                        },
                        "residencepriorlengthofstay": {
                          "type": "integer"
                        },
                        "statusdocumented": {
                          "type": "integer"
                        },
                        "yearshomeless": {
                          "type": "integer"
                        },
                        "chronicHomeless" : {
                          "type": "integer"
                        },
                        "hmisHouseholdId": {
                          "type": "string",
                          "format": "uuid",
                        },
                                "genericHouseHoldId":{
                                  "type": "string",
                                  "format": "uuid",
                                }                        
                      }
                    }
                  }
                }
              example:
                  enrollment:
                    links:
                    - rel: hmisHouseHold
                      href: "/hmis-clientapi/rest/v2014/hmishouseholds/8e956388-b909-41ea-b1d0-203e9cc15c45/"                                            
                    continuouslyhomelessoneyear: 1
                    disablingcondition: 0
                    entrydate: 1458035288480
                    householdid: 14aa2237-f147-4751-997b-040d9c023998
                    housingstatus: 1
                    monthshomelesspastthreeyears: 7
                    monthshomelessthistime: 1
                    otherresidenceprior: '1'
                    personalid: a8b1ac45-f3c9-4d12-9ac7-46bccbf14a7e
                    projectentryid: 93284e88-515c-4bb8-9246-b1f419106649
                    relationshiptohoh: 2
                    residenceprior: 2
                    residencepriorlengthofstay: 2
                    statusdocumented: 1
                    yearshomeless: 2
                    chronicHomeless: 1
                    hmisHouseholdId: 8e956388-b909-41ea-b1d0-203e9cc15c45
                    genericHouseHoldId: 1520d4ac-2998-4825-80a6-2f550c37f3f1                    
        required: true
    delete:
      responses:
        '204':
          description: OK – The resource was successfully deleted.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Deletes a specific enrollment specified by the URI resource
        parameter/ID.
      operationId: DELETE_clients-clientid-enrollments-enrollmentid
    parameters:
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/history':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "enrollments"
                    ],
                    "properties": {
                      "enrollments": {
                        "type": "object",
                        "required": [
                          "pagination",
                          "enrollments"
                        ],
                        "properties": {
                          "pagination": {
                            "type": "object",
                            "required": [
                              "from",
                              "returned",
                              "total",
                              "maximum",
                              "sort"
                            ],
                            "properties": {
                              "from": {
                                "type": "integer"
                              },
                              "returned": {
                                "type": "integer"
                              },
                              "total": {
                                "type": "integer"
                              },
                              "maximum": {
                                "type": "integer"
                              },
                              "sort": {
                                "type": "object"
                              }
                            }
                          },
                          "enrollments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "required": [
                                "enrollmentId",
                                "continuouslyhomelessoneyear",
                                "disablingcondition",
                                "entrydate",
                                "householdid",
                                "housingstatus",
                                "monthshomelesspastthreeyears",
                                "monthshomelessthistime",
                                "otherresidenceprior",
                                "personalid",
                                "projectentryid",
                                "relationshiptohoh",
                                "residenceprior",
                                "residencepriorlengthofstay",
                                "statusdocumented",
                                "yearshomeless"
                              ],
                              "properties": {
                                "enrollmentId": {
                                  "type": "string",
                                  "format": "uuid",
                                },
                                "continuouslyhomelessoneyear": {
                                  "type": "string",
                                },
                                "disablingcondition": {
                                  "type": "string",
                                },
                                "entrydate": {
                                  "type": "integer"
                                },
                                "householdid": {
                                  "type": "string",
                                  "format": "uuid",
                                },
                                "housingstatus": {
                                  "type": "string",
                                },
                                "monthshomelesspastthreeyears": {
                                  "type": "string",
                                },
                                "monthshomelessthistime": {
                                  "type": "string",
                                },
                                "otherresidenceprior": {
                                  "type": "string",
                                },
                                "personalid": {
                                  "type": "string",
                                  "format": "uuid",
                                },
                                "projectentryid": {
                                  "type": "string",
                                  "format": "uuid",
                                },
                                "relationshiptohoh": {
                                  "type": "string",
                                },
                                "residenceprior": {
                                  "type": "string",
                                },
                                "residencepriorlengthofstay": {
                                  "type": "string",
                                },
                                "statusdocumented": {
                                  "type": "string",
                                },
                                "yearshomeless": {
                                  "type": "integer"
                                },
                                "hmisHouseholdId": {
                                  "type": "string",
                                  "format": "uuid",
                                },
                                "genericHouseHoldId":{
                                  "type": "string",
                                  "format": "uuid",
                                }                                
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                example:
                    enrollments:
                      pagination:
                        from: 0
                        returned: 1
                        total: 1
                        maximum: 30
                        sort: {}
                      enrollments:
                        - enrollmentId: a9577ecf-5fb3-453e-9d3b-2bb81658ffe1
                          continuouslyhomelessoneyear: '1'
                          disablingcondition: '0'
                          entrydate: 1458035288480
                          householdid: 14aa2237-f147-4751-997b-040d9c023998
                          housingstatus: '1'
                          monthshomelesspastthreeyears: '7'
                          monthshomelessthistime: '1'
                          otherresidenceprior: '1'
                          personalid: a8b1ac45-f3c9-4d12-9ac7-46bccbf14a7e
                          projectentryid: 93284e88-515c-4bb8-9246-b1f419106649
                          relationshiptohoh: '2'
                          residenceprior: '2'
                          residencepriorlengthofstay: '2'
                          statusdocumented: '1'
                          yearshomeless: 2
                          hmisHouseholdId: 8e956388-b909-41ea-b1d0-203e9cc15c45  
                          genericHouseHoldId: 1520d4ac-2998-4825-80a6-2f550c37f3f1
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for enrollment history.  Returns a list of enrollment ids history, based on the
        query parameters sent.  The query parameters are cumulative, so each
        additional query parameter narrows the search down further.
      operationId: GET_clients-clientid-enrollments-enrollmentid-history
      parameters:
        - name: startIndex
          in: query
          required: true
          description: >-
            start index

          schema:
            type: string
        - name: maxItems
          in: query
          required: true
          description: >-
            Max items in response

          schema:
            type: string
    parameters:
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/commercialsexualexploitations':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
                schema:
                    {
                      "type": "object",
                      "required": [
                        "commercialSexualExploitations"
                      ],
                      "properties": {
                        "commercialSexualExploitations": {
                          "type": "object",
                          "required": [
                            "pagination",
                            "CommercialSexualExploitations"
                          ],
                          "properties": {
                            "pagination": {
                              "type": "object",
                              "required": [
                                "from",
                                "returned",
                                "total",
                                "maximum",
                                "sort"
                              ],
                              "properties": {
                                "from": {
                                  "type": "integer"
                                },
                                "returned": {
                                  "type": "integer"
                                },
                                "total": {
                                  "type": "integer"
                                },
                                "maximum": {
                                  "type": "integer"
                                },
                                "sort": {
                                  "type": "object"
                                }
                              }
                            },
                            "CommercialSexualExploitations": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "required": [
                                  "links",
                                  "commercialsexualexploitationId",
                                  "askedorforcedtoexchangeforsex",
                                  "countofexchangeforsex",
                                  "exchangeforsexpastthreemonths",
                                  "dataCollectionStage",
                                  "informationDate"
                                ],
                                "properties": {
                                  "links": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "required": [
                                        "rel",
                                        "href"
                                      ],
                                      "properties": {
                                        "rel": {
                                          "type": "string",
                                        },
                                        "href": {
                                          "type": "string",
                                        }
                                      }
                                    }
                                  },
                                  "commercialsexualexploitationId": {
                                    "type": "string",
                                    "format": "uuid",
                                  },
                                  "askedorforcedtoexchangeforsex": {
                                    "type": "integer"
                                  },
                                  "countofexchangeforsex": {
                                    "type": "integer"
                                  },
                                  "exchangeforsexpastthreemonths": {
                                    "type": "integer"
                                  },
                                  "dataCollectionStage": {
                                    "type": "integer"
                                  },
                                  "informationDate": {
                                    "type": "string",
                                    "format": "mm-dd-yyyy",
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                example:
                    commercialSexualExploitations:
                      pagination:
                        from: 0
                        returned: 1
                        total: 1
                        maximum: 30
                        sort: {}
                      CommercialSexualExploitations:
                        - links:
                          - rel: history
                            href: "/clients/717661f4-eaa3-4298-8739-789ab8a1f3d1/enrollments/a9577ecf-5fb3-453e-9d3b-2bb81658ffe1/commercialsexualexploitations/78285647-ccda-4d09-847d-2f07fa683f50/history"
                          commercialsexualexploitationId: 78285647-ccda-4d09-847d-2f07fa683f50
                          askedorforcedtoexchangeforsex: 1
                          countofexchangeforsex: 4
                          exchangeforsexpastthreemonths: 8
                          dataCollectionStage: 1
                          informationDate: 03-16-2016
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for commercialsexualexploitation.  Returns a list of
        commercialsexualexploitation ids, based on the query parameters sent.
        The query parameters are cumulative, so each additional query parameter
        narrows the search down further.
      operationId: >-
        GET_clients-clientid-enrollments-enrollmentid-commercialsexualexploitations
      parameters:
        - name: startIndex
          in: query
          required: true
          description: >-
            start index

          schema:
            type: string
        - name: maxItems
          in: query
          required: true
          description: >-
            Max items in response

          schema:
            type: string
    post:
      responses:
        '201':
          description: OK - New resource has been created.
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "commercialSexualExploitation"
                    ],
                    "properties": {
                      "commercialSexualExploitation": {
                        "type": "object",
                        "required": [
                          "commercialsexualexploitationId"
                        ],
                        "properties": {
                          "commercialsexualexploitationId": {
                            "type": "string",
                            "format": "uuid",
                          }
                        }
                      }
                    }
                  }
                example:
                  commercialSexualExploitation:
                    commercialsexualexploitationId: 78285647-ccda-4d09-847d-2f07fa683f50
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            access is not allowed.
        '404':
          description: Not Found – There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: Internal Server Error.
      description: |
        Add a commercialsexualexploitation
      operationId: >-
        POST_clients-clientid-enrollments-enrollmentid-commercialsexualexploitations
      requestBody:
        content:
          application/json:
              schema:
                {
                  "type": "object",
                  "required": [
                    "commercialSexualExploitation"
                  ],
                  "properties": {
                    "commercialSexualExploitation": {
                      "type": "object",
                      "required": [
                        "askedorforcedtoexchangeforsex",
                        "countofexchangeforsex",
                        "exchangeforsexpastthreemonths",
                        "dataCollectionStage",
                        "informationDate"
                      ],
                      "properties": {
                        "askedorforcedtoexchangeforsex": {
                          "type": "integer"
                        },
                        "countofexchangeforsex": {
                          "type": "integer"
                        },
                        "exchangeforsexpastthreemonths": {
                          "type": "integer"
                        },
                        "dataCollectionStage": {
                          "type": "integer"
                        },
                        "informationDate": {
                          "type": "string",
                          "format": "mm-dd-yyyy",
                        }
                      }
                    }
                  }
                }
              example:
                  commercialSexualExploitation:
                    askedorforcedtoexchangeforsex: 1
                    countofexchangeforsex: 4
                    exchangeforsexpastthreemonths: 8
                    dataCollectionStage: 1
                    informationDate: 03-16-2016
        required: true
    parameters:
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/commercialsexualexploitations/{commercialsexualexploitationid}':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "commercialSexualExploitation"
                    ],
                    "properties": {
                      "commercialSexualExploitation": {
                        "type": "object",
                        "required": [
                          "links",
                          "commercialsexualexploitationId",
                          "askedorforcedtoexchangeforsex",
                          "countofexchangeforsex",
                          "exchangeforsexpastthreemonths",
                          "dataCollectionStage",
                          "informationDate"
                        ],
                        "properties": {
                          "links": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "required": [
                                "rel",
                                "href"
                              ],
                              "properties": {
                                "rel": {
                                  "type": "string",
                                },
                                "href": {
                                  "type": "string",
                                }
                              }
                            }
                          },
                          "commercialsexualexploitationId": {
                            "type": "string",
                            "format": "uuid",
                          },
                          "askedorforcedtoexchangeforsex": {
                            "type": "integer"
                          },
                          "countofexchangeforsex": {
                            "type": "integer"
                          },
                          "exchangeforsexpastthreemonths": {
                            "type": "integer"
                          },
                          "dataCollectionStage": {
                            "type": "integer"
                          },
                          "informationDate": {
                            "type": "string",
                            "format": "mm-dd-yyyy",
                          }
                        }
                      }
                    }
                  }
                example:
                    commercialSexualExploitation:
                        links:
                        - rel: history
                          href: "/clients/717661f4-eaa3-4298-8739-789ab8a1f3d1/enrollments/a9577ecf-5fb3-453e-9d3b-2bb81658ffe1/commercialsexualexploitations/78285647-ccda-4d09-847d-2f07fa683f50/history"
                        commercialsexualexploitationId: 78285647-ccda-4d09-847d-2f07fa683f50
                        askedorforcedtoexchangeforsex: 1
                        countofexchangeforsex: 4
                        exchangeforsexpastthreemonths: 8
                        dataCollectionStage: 1
                        informationDate: 03-16-2016
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires an user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: Gets a commercialsexualexploitation using a URI resource parameter/ID.
      operationId: >-
        GET_clients-clientid-enrollments-enrollmentid-commercialsexualexploitations-commercialsexualexploitationid
    put:
      responses:
        '200':
          description: OK – Everything is working.
        '304':
          description: Not Modified – The client can use cached data.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires a user.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Updates a specific commercialsexualexploitation specified by the URI
        resource parameter/ID.
      operationId: >-
        PUT_clients-clientid-enrollments-enrollmentid-commercialsexualexploitations-commercialsexualexploitationid
      requestBody:
        content:
          application/json:
              schema:
                {
                  "type": "object",
                  "required": [
                    "commercialSexualExploitation"
                  ],
                  "properties": {
                    "commercialSexualExploitation": {
                      "type": "object",
                      "required": [
                        "askedorforcedtoexchangeforsex",
                        "countofexchangeforsex",
                        "exchangeforsexpastthreemonths",
                        "dataCollectionStage",
                        "informationDate"
                      ],
                      "properties": {
                        "askedorforcedtoexchangeforsex": {
                          "type": "integer"
                        },
                        "countofexchangeforsex": {
                          "type": "integer"
                        },
                        "exchangeforsexpastthreemonths": {
                          "type": "integer"
                        },
                        "dataCollectionStage": {
                          "type": "integer"
                        },
                        "informationDate": {
                          "type": "string",
                          "format": "mm-dd-yyyy",
                        }
                      }
                    }
                  }
                }
              example:
                  commercialSexualExploitation:
                    askedorforcedtoexchangeforsex: 1
                    countofexchangeforsex: 4
                    exchangeforsexpastthreemonths: 8
                    dataCollectionStage: 1
                    informationDate: 03-16-2016
        required: true
    delete:
      responses:
        '204':
          description: OK – The resource was successfully deleted.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Deletes a specific commercialsexualexploitation specified by the URI
        resource parameter/ID.
      operationId: >-
        DELETE_clients-clientid-enrollments-enrollmentid-commercialsexualexploitations-commercialsexualexploitationid
    parameters:
      - name: commercialsexualexploitationid
        in: path
        required: true
        schema:
          type: string
        description: Commercialsexualexploitation Identifier
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/commercialsexualexploitations/{commercialsexualexploitationid}/history':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "commercialSexualExploitations"
                    ],
                    "properties": {
                      "commercialSexualExploitations": {
                        "type": "object",
                        "required": [
                          "pagination",
                          "CommercialSexualExploitations"
                        ],
                        "properties": {
                          "pagination": {
                            "type": "object",
                            "required": [
                              "from",
                              "returned",
                              "total",
                              "maximum",
                              "sort"
                            ],
                            "properties": {
                              "from": {
                                "type": "integer"
                              },
                              "returned": {
                                "type": "integer"
                              },
                              "total": {
                                "type": "integer"
                              },
                              "maximum": {
                                "type": "integer"
                              },
                              "sort": {
                                "type": "object"
                              }
                            }
                          },
                          "CommercialSexualExploitations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "required": [
                                "commercialsexualexploitationId",
                                "askedorforcedtoexchangeforsex",
                                "countofexchangeforsex",
                                "exchangeforsexpastthreemonths",
                                "dataCollectionStage",
                                "informationDate"
                              ],
                              "properties": {
                                "commercialsexualexploitationId": {
                                  "type": "string",
                                  "format": "uuid",
                                },
                                "askedorforcedtoexchangeforsex": {
                                  "type": "integer"
                                },
                                "countofexchangeforsex": {
                                  "type": "integer"
                                },
                                "exchangeforsexpastthreemonths": {
                                  "type": "integer"
                                },
                                "dataCollectionStage": {
                                  "type": "integer"
                                },
                                "informationDate": {
                                  "type": "string",
                                  "format": "mm-dd-yyyy",
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                example:
                    commercialSexualExploitations:
                      pagination:
                        from: 0
                        returned: 1
                        total: 1
                        maximum: 30
                        sort: {}
                      CommercialSexualExploitations:
                        - commercialsexualexploitationId: 78285647-ccda-4d09-847d-2f07fa683f50
                          askedorforcedtoexchangeforsex: 1
                          countofexchangeforsex: 4
                          exchangeforsexpastthreemonths: 8
                          dataCollectionStage: 1
                          informationDate: 03-16-2016
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for commercialsexualexploitation history.  Returns a list of
        commercialsexualexploitation ids history, based on the query parameters sent.
        The query parameters are cumulative, so each additional query parameter
        narrows the search down further.
      operationId: >-
        GET_clients-clientid-enrollments-enrollmentid-commercialsexualexploitations-commercialsexualexploitationid-history
      parameters:
        - name: startIndex
          in: query
          required: true
          description: >-
            start index

          schema:
            type: string
        - name: maxItems
          in: query
          required: true
          description: >-
            Max items in response

          schema:
            type: string
    parameters:
      - name: commercialsexualexploitationid
        in: path
        required: true
        schema:
          type: string
        description: Commercialsexualexploitation Identifier
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/dateofengagements':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
                schema:
                  {
                    "type": "object",
                    "required": [
                      "Dateofengagements"
                    ],
                    "properties": {
                      "Dateofengagements": {
                        "type": "object",
                        "required": [
                          "pagination",
                          "dateofengagements"
                        ],
                        "properties": {
                          "pagination": {
                            "type": "object",
                            "required": [
                              "from",
                              "returned",
                              "total",
                              "maximum",
                              "sort"
                            ],
                            "properties": {
                              "from": {
                                "type": "integer"
                              },
                              "returned": {
                                "type": "integer"
                              },
                              "total": {
                                "type": "integer"
                              },
                              "maximum": {
                                "type": "integer"
                              },
                              "sort": {
                                "type": "object"
                              }
                            }
                          },
                          "dateofengagements": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "required": [
                                "links",
                                "dateofengagementId",
                                "dateofengagement"
                              ],
                              "properties": {
                                "links": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "required": [
                                      "rel",
                                      "href"
                                    ],
                                    "properties": {
                                      "rel": {
                                        "type": "string",
                                      },
                                      "href": {
                                        "type": "string",
                                      }
[...]
