openapi: 3.0.0
info:
  title: 2014 HMIS
  version: 1.1.1
servers:
  - url: 'https://www.hslynk.com/hmis-clientapi/rest/v2014'
paths:
  /clients:
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              schema:
                example:
                    Clients:
                      pagination:
                        from: 0
                        returned: 1
                        total: 3
                        maximum: 30
                        sort: {}
                      clients:
                        - clientId: 717661f4-eaa3-4298-8739-789ab8a1f3d1
                          dedupClientId: b7eb6be3-1ed3-49f4-a0c9-ae78d7f386fd
                          firstName: 'FirstName '
                          middleName: Middle Name
                          lastName: LAST NAME
                          nameSuffix: NS
                          nameDataQuality: '1'
                          ssn: 'ssn      '
                          ssnDataQuality: '1'
                          dob: 1458035236115
                          dobDataQuality: '1'
                          race: '1'
                          ethnicity: '1'
                          gender: '1'
                          otherGender: 'Test      '
                          dateCreated: 03-15-2016
                          phoneNumber: 1-541-754-3010
                          emailAddress: Jeanette@gmail.com
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for client.  Returns a list of client ids, based on the query
        parameters sent.  The query parameters are cumulative, so each
        additional query parameter narrows the search down further.
      operationId: GET_clients
      parameters:
        - name: startIndex
          in: query
          required: true
          description: >-
            start index

          schema:
            type: string
        - name: maxItems
          in: query
          required: true
          description: >-
            Max items in response

          schema:
            type: string
    post:
      responses:
        '201':
          description: OK - New resource has been created.
          content:
            application/json:
              schema:
                example:
                  client:
                    clientId: 717661f4-eaa3-4298-8739-789ab8a1f3d1
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            access is not allowed.
        '404':
          description: Not Found – There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: Internal Server Error.
      description: |
                    1)  an SSN value submitted as an empty string (not null) will be treatedand stored by HSLynk as a nullified/deleted SSN data element
                    2) a full 9 digit SSN may be submitted
                    3) a partial SSN may be submitted, but one or more lower case 'x'(s) must be present in the locations of the missing actual SSN digits.
      operationId: POST_clients
      requestBody:
        content:
          application/json:
            schema:
              example:
                  client:
                    firstName: ' first name'
                    middleName: Middle Name
                    lastName: LAST NAME
                    nameSuffix: NS
                    nameDataQuality: '1'
                    ssn: 123-45-6789
                    ssnDataQuality: '1'
                    dob: 1458035236115
                    dobDataQuality: '1'
                    race: '1'
                    ethnicity: '1'
                    gender: '1'
                    otherGender: 'Test      '
                    dateCreated: 03-15-2016
                    phoneNumber: 1-541-754-3010
                    emailAddress: Jeanette@gmail.com
        required: true
  '/clients/{clientid}':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              schema:
                example:
                    client:
                      clientId: 717661f4-eaa3-4298-8739-789ab8a1f3d1
                      firstName: ' first name'
                      middleName: Middle Name
                      lastName: LAST NAME
                      nameSuffix: NS
                      nameDataQuality: '1'
                      ssn: 123-45-6789
                      ssnDataQuality: '1'
                      dob: 1458035236115
                      dobDataQuality: '1'
                      race: '1'
                      ethnicity: '1'
                      gender: '1'
                      otherGender: 'Test      '
                      dateCreated: 03-15-2016
                      phoneNumber: 1-541-754-3010
                      emailAddress: Jeanette@gmail.com
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires an user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: Gets a client using a URI resource parameter/ID.
      operationId: GET_clients-clientid
    put:
      responses:
        '200':
          description: OK – Everything is working.
        '304':
          description: Not Modified – The client can use cached data.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires a user.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: |
                      Updates a specific client specified by the URI resource parameter/ID.
                      1)  an SSN value submitted as an empty string (not null) will be treate dand stored by HSLynk as a nullified/deleted SSN data element
                      2) a full 9 digit SSN may be submitted
                      3) a partial SSN may be submitted, but one or more lower case 'x'(s) must be present in the locations of the missing actual SSN digits.
      operationId: PUT_clients-clientid
      requestBody:
        content:
          application/json:
            schema:
              example:
                  client:
                    firstName: ' first name'
                    middleName: Middle Name
                    lastName: LAST NAME
                    nameSuffix: NS
                    nameDataQuality: '1'
                    ssn: 123-45-6789
                    ssnDataQuality: '1'
                    dob: 1458035236115
                    dobDataQuality: '1'
                    race: '1'
                    ethnicity: '1'
                    gender: '1'
                    otherGender: 'Test      '
                    dateCreated: 03-15-2016
                    phoneNumber: 1-541-754-3010
                    emailAddress: Jeanette@gmail.com
        required: true
    delete:
      responses:
        '204':
          description: OK – The resource was successfully deleted.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: Deletes a specific client specified by the URI resource parameter/ID.
      operationId: DELETE_clients-clientid
    parameters:
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              schema:
                example:
                    enrollments:
                      pagination:
                        from: 0
                        returned: 1
                        total: 1
                        maximum: 30
                        sort: {}
                      enrollments:
                        - enrollmentId: a9577ecf-5fb3-453e-9d3b-2bb81658ffe1
                          continuouslyhomelessoneyear: '1'
                          disablingcondition: '0'
                          entrydate: 1458035288480
                          householdid: 14aa2237-f147-4751-997b-040d9c023998
                          housingstatus: '1'
                          monthshomelesspastthreeyears: '7'
                          monthshomelessthistime: '1'
                          otherresidenceprior: '1'
                          personalid: a8b1ac45-f3c9-4d12-9ac7-46bccbf14a7e
                          projectentryid: 93284e88-515c-4bb8-9246-b1f419106649
                          relationshiptohoh: '2'
                          residenceprior: '2'
                          residencepriorlengthofstay: '2'
                          statusdocumented: '1'
                          yearshomeless: 2
                          dateCreated: 03-15-2016
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for enrollment.  Returns a list of enrollment ids, based on the
        query parameters sent.  The query parameters are cumulative, so each
        additional query parameter narrows the search down further.
      operationId: GET_clients-clientid-enrollments
      parameters:
        - name: startIndex
          in: query
          required: true
          description: >-
            start index

          schema:
            type: string
        - name: maxItems
          in: query
          required: true
          description: >-
            Max items in response

          schema:
            type: string
    post:
      responses:
        '201':
          description: OK - New resource has been created.
          content:
            application/json:
              schema:
                example:
                  enrollment:
                    enrollmentid: a9577ecf-5fb3-453e-9d3b-2bb81658ffe1
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            access is not allowed.
        '404':
          description: Not Found – There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: Internal Server Error.
      description: |
        Add a enrollment
      operationId: POST_clients-clientid-enrollments
      requestBody:
        content:
          application/json:
            schema:
              example:
                  enrollment:
                    continuouslyhomelessoneyear: 1
                    disablingcondition: 0
                    entrydate: 1458035288480
                    householdid: 14aa2237-f147-4751-997b-040d9c023998
                    housingstatus: 1
                    monthshomelesspastthreeyears: 7
                    monthshomelessthistime: 1
                    otherresidenceprior: '1'
                    personalid: a8b1ac45-f3c9-4d12-9ac7-46bccbf14a7e
                    projectentryid: 93284e88-515c-4bb8-9246-b1f419106649
                    relationshiptohoh: 2
                    residenceprior: 2
                    residencepriorlengthofstay: 2
                    statusdocumented: 1
                    yearshomeless: 2
                    dateCreated: 03-15-2016
        required: true
    parameters:
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              schema:
                example:
                    enrollment:
                      enrollmentid: a9577ecf-5fb3-453e-9d3b-2bb81658ffe1
                      continuouslyhomelessoneyear: 1
                      disablingcondition: 0
                      entrydate: 1458035288480
                      householdid: 14aa2237-f147-4751-997b-040d9c023998
                      housingstatus: 1
                      monthshomelesspastthreeyears: 7
                      monthshomelessthistime: 1
                      otherresidenceprior: '1'
                      personalid: a8b1ac45-f3c9-4d12-9ac7-46bccbf14a7e
                      projectentryid: 93284e88-515c-4bb8-9246-b1f419106649
                      relationshiptohoh: 2
                      residenceprior: 2
                      residencepriorlengthofstay: 2
                      statusdocumented: 1
                      yearshomeless: 2
                      dateCreated: 03-15-2016
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires an user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: Gets a enrollment using a URI resource parameter/ID.
      operationId: GET_clients-clientid-enrollments-enrollmentid
    put:
      responses:
        '200':
          description: OK – Everything is working.
        '304':
          description: Not Modified – The client can use cached data.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires a user.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Updates a specific enrollment specified by the URI resource
        parameter/ID.
      operationId: PUT_clients-clientid-enrollments-enrollmentid
      requestBody:
        content:
          application/json:
            schema:
              example:
                  enrollment:
                    continuouslyhomelessoneyear: 1
                    disablingcondition: 0
                    entrydate: 1458035288480
                    householdid: 14aa2237-f147-4751-997b-040d9c023998
                    housingstatus: 1
                    monthshomelesspastthreeyears: 7
                    monthshomelessthistime: 1
                    otherresidenceprior: '1'
                    personalid: a8b1ac45-f3c9-4d12-9ac7-46bccbf14a7e
                    projectentryid: 93284e88-515c-4bb8-9246-b1f419106649
                    relationshiptohoh: 2
                    residenceprior: 2
                    residencepriorlengthofstay: 2
                    statusdocumented: 1
                    yearshomeless: 2
        required: true
    delete:
      responses:
        '204':
          description: OK – The resource was successfully deleted.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Deletes a specific enrollment specified by the URI resource
        parameter/ID.
      operationId: DELETE_clients-clientid-enrollments-enrollmentid
    parameters:
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/commercialsexualexploitations':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              schema:
                example:
                    commercialSexualExploitations:
                      pagination:
                        from: 0
                        returned: 1
                        total: 1
                        maximum: 30
                        sort: {}
                      CommercialSexualExploitations:
                        - commercialsexualexploitationId: 78285647-ccda-4d09-847d-2f07fa683f50
                          askedorforcedtoexchangeforsex: 1
                          countofexchangeforsex: 4
                          exchangeforsexpastthreemonths: 8
                          dataCollectionStage: 1
                          informationDate: 03-16-2016
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for commercialsexualexploitation.  Returns a list of
        commercialsexualexploitation ids, based on the query parameters sent. 
        The query parameters are cumulative, so each additional query parameter
        narrows the search down further.
      operationId: >-
        GET_clients-clientid-enrollments-enrollmentid-commercialsexualexploitations
      parameters:
        - name: startIndex
          in: query
          required: true
          description: >-
            start index

          schema:
            type: string
        - name: maxItems
          in: query
          required: true
          description: >-
            Max items in response

          schema:
            type: string
    post:
      responses:
        '201':
          description: OK - New resource has been created.
          content:
            application/json:
              schema:
                example:
                  commercialSexualExploitation:
                    commercialsexualexploitationId: 78285647-ccda-4d09-847d-2f07fa683f50
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            access is not allowed.
        '404':
          description: Not Found – There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: Internal Server Error.
      description: |
        Add a commercialsexualexploitation
      operationId: >-
        POST_clients-clientid-enrollments-enrollmentid-commercialsexualexploitations
      requestBody:
        content:
          application/json:
            schema:
              example:
                  commercialSexualExploitation:
                    askedorforcedtoexchangeforsex: 1
                    countofexchangeforsex: 4
                    exchangeforsexpastthreemonths: 8
                    dataCollectionStage: 1
                    informationDate: 03-16-2016
        required: true
    parameters:
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/commercialsexualexploitations/{commercialsexualexploitationid}':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              schema:
                example:
                    commercialSexualExploitation:
                      commercialsexualexploitationId: 78285647-ccda-4d09-847d-2f07fa683f50
                      askedorforcedtoexchangeforsex: 1
                      countofexchangeforsex: 4
                      exchangeforsexpastthreemonths: 8
                      dataCollectionStage: 1
                      informationDate: 03-16-2016
                      dateCreated: 03-16-2016
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires an user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: Gets a commercialsexualexploitation using a URI resource parameter/ID.
      operationId: >-
        GET_clients-clientid-enrollments-enrollmentid-commercialsexualexploitations-commercialsexualexploitationid
    put:
      responses:
        '200':
          description: OK – Everything is working.
        '304':
          description: Not Modified – The client can use cached data.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires a user.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Updates a specific commercialsexualexploitation specified by the URI
        resource parameter/ID.
      operationId: >-
        PUT_clients-clientid-enrollments-enrollmentid-commercialsexualexploitations-commercialsexualexploitationid
      requestBody:
        content:
          application/json:
            schema:
              example:
                  commercialSexualExploitation:
                    askedorforcedtoexchangeforsex: 1
                    countofexchangeforsex: 4
                    exchangeforsexpastthreemonths: 8
                    dataCollectionStage: 1
                    informationDate: 03-16-2016
        required: true
    delete:
      responses:
        '204':
          description: OK – The resource was successfully deleted.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Deletes a specific commercialsexualexploitation specified by the URI
        resource parameter/ID.
      operationId: >-
        DELETE_clients-clientid-enrollments-enrollmentid-commercialsexualexploitations-commercialsexualexploitationid
    parameters:
      - name: commercialsexualexploitationid
        in: path
        required: true
        schema:
          type: string
        description: Commercialsexualexploitation Identifier
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/dateofengagements':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              schema:
                example:
                    Dateofengagements:
                      pagination:
                        from: 0
                        returned: 1
                        total: 1
                        maximum: 30
                        sort: {}
                      dateofengagements:
                        - dateofengagementId: f1901be5-d11e-4158-9ece-f36252e2e654
                          dateofengagement: 03-16-2016
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for dateofengagement.  Returns a list of dateofengagement ids,
        based on the query parameters sent.  The query parameters are
        cumulative, so each additional query parameter narrows the search down
        further.
      operationId: GET_clients-clientid-enrollments-enrollmentid-dateofengagements
      parameters:
        - name: startIndex
          in: query
          required: true
          description: >-
            start index

          schema:
            type: string
        - name: maxItems
          in: query
          required: true
          description: >-
            Max items in response

          schema:
            type: string
    post:
      responses:
        '201':
          description: OK - New resource has been created.
          content:
            application/json:
              schema:
                example:
                  dateofengagement:
                    dateofengagementId: 74a9912a-f8fc-40b7-83cb-980e94b10686
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            access is not allowed.
        '404':
          description: Not Found – There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: Internal Server Error.
      description: |
        Add a dateofengagement
      operationId: POST_clients-clientid-enrollments-enrollmentid-dateofengagements
      requestBody:
        content:
          application/json:
            schema:
              example:
                  dateofengagement:
                    dateofengagement: 1458127562192
        required: true
    parameters:
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/dateofengagements/{dateofengagementid}':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              schema:
                example:
                    dateofengagement:
                      dateofengagementId: 74a9912a-f8fc-40b7-83cb-980e94b10686
                      dateofengagement: 1458127562192
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires an user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: Gets a dateofengagement using a URI resource parameter/ID.
      operationId: >-
        GET_clients-clientid-enrollments-enrollmentid-dateofengagements-dateofengagementid
    put:
      responses:
        '200':
          description: OK – Everything is working.
        '304':
          description: Not Modified – The client can use cached data.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires a user.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Updates a specific dateofengagement specified by the URI resource
        parameter/ID.
      operationId: >-
        PUT_clients-clientid-enrollments-enrollmentid-dateofengagements-dateofengagementid
      requestBody:
        content:
          application/json:
            schema:
              example:
                  dateofengagement:
                    dateofengagement: 1458127562192
        required: true
    delete:
      responses:
        '204':
          description: OK – The resource was successfully deleted.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Deletes a specific dateofengagement specified by the URI resource
        parameter/ID.
      operationId: >-
        DELETE_clients-clientid-enrollments-enrollmentid-dateofengagements-dateofengagementid
    parameters:
      - name: dateofengagementid
        in: path
        required: true
        schema:
          type: string
        description: Dateofengagement Identifier
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/disabilities':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              schema:
                example:
                    disabilitiesList:
                      pagination:
                        from: 0
                        returned: 1
                        total: 1
                        maximum: 30
                        sort: {}
                      disabilitiesList:
                        - disabilitiesId: be340706-eb5c-4794-a4c1-91b7d32c78e3
                          disabilityresponse: 1732327101
                          disabilitytype: '6'
                          documentationonfile: '99'
                          indefiniteandimpairs: '1'
                          pathhowconfirmed: '99'
                          receivingservices: '0'
                          pathsmiinformation: '8'
                          dataCollectionStage: 1
                          informationDate: 03-16-2016
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for disability.  Returns a list of disability ids, based on the
        query parameters sent.  The query parameters are cumulative, so each
        additional query parameter narrows the search down further.
      operationId: GET_clients-clientid-enrollments-enrollmentid-disabilities
      parameters:
        - name: startIndex
          in: query
          required: true
          description: >-
            start index

          schema:
            type: string
        - name: maxItems
          in: query
          required: true
          description: >-
            Max items in response

          schema:
            type: string
    post:
      responses:
        '201':
          description: OK - New resource has been created.
          content:
            application/json:
              schema:
                example:
                  disabilities:
                    disabilitiesId: 813153a1-860a-43bd-b7dd-b938062ffaff
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            access is not allowed.
        '404':
          description: Not Found – There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: Internal Server Error.
      description: |
        Add a disability
      operationId: POST_clients-clientid-enrollments-enrollmentid-disabilities
      requestBody:
        content:
          application/json:
            schema:
              example:
                  InformationDate: '1990-12-31'
                  DisabilityResponse: 1
                  DisabilityType: 6
                  DocumentationOnFile: 99
                  IndefiniteAndImpairs: 1
                  PATHHowConfirmed: 99
                  ReceivingServices: 0
                  PathSMInformation: 8
                  DataCollectionStage: 1
        required: true
    parameters:
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/disabilities/{disabilityid}':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              schema:
                example:
                    disabilities:
                      disabilitiesId: 813153a1-860a-43bd-b7dd-b938062ffaff
                      disabilityresponse: -1732327101
                      disabilitytype: 6
                      documentationonfile: 99
                      indefiniteandimpairs: 1
                      pathhowconfirmed: 99
                      receivingservices: 0
                      pathsmiinformation: 8
                      dataCollectionStage: 1
                      informationDate: 03-16-2016
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires an user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: Gets a disability using a URI resource parameter/ID.
      operationId: GET_clients-clientid-enrollments-enrollmentid-disabilities-disabilityid
    put:
      responses:
        '200':
          description: OK – Everything is working.
        '304':
          description: Not Modified – The client can use cached data.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires a user.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Updates a specific disability specified by the URI resource
        parameter/ID.
      operationId: PUT_clients-clientid-enrollments-enrollmentid-disabilities-disabilityid
      requestBody:
        content:
          application/json:
            schema:
              example:
                  InformationDate: '1990-12-31'
                  DisabilityResponse: 1
                  DisabilityType: 6
                  DocumentationOnFile: 99
                  IndefiniteAndImpairs: 1
                  PATHHowConfirmed: 99
                  ReceivingServices: 0
                  PathSMInformation: 8
                  DataCollectionStage: 1
        required: true
    delete:
      responses:
        '204':
          description: OK – The resource was successfully deleted.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Deletes a specific disability specified by the URI resource
        parameter/ID.
      operationId: >-
        DELETE_clients-clientid-enrollments-enrollmentid-disabilities-disabilityid
    parameters:
      - name: disabilityid
        in: path
        required: true
        schema:
          type: string
        description: Disability Identifier
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/domesticviolences':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              schema:
                example:
                    DomesticViolences:
                      pagination:
                        from: 0
                        returned: 1
                        total: 1
                        maximum: 30
                        sort: {}
                      domesticViolences:
                        - domesticViolenceId: 81b6e3f4-5d11-47c6-93c5-5b13c0c2779e
                          domesticviolencevictim: '1'
                          dataCollectionStage: 1
                          informationDate: 03-16-2016
                          whenoccurred: '3'
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for domesticviolence.  Returns a list of domesticviolence ids,
        based on the query parameters sent.  The query parameters are
        cumulative, so each additional query parameter narrows the search down
        further.
      operationId: GET_clients-clientid-enrollments-enrollmentid-domesticviolences
      parameters:
        - name: startIndex
          in: query
          required: true
          description: >-
            start index

          schema:
            type: string
        - name: maxItems
          in: query
          required: true
          description: >-
            Max items in response

          schema:
            type: string
    post:
      responses:
        '201':
          description: OK - New resource has been created.
          content:
            application/json:
              schema:
                example:
                  domesticViolence:
                    domesticViolenceId: 73f7cd052ed1458eb445f26741d3f4ad
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            access is not allowed.
        '404':
          description: Not Found – There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: Internal Server Error.
      description: |
        Add a domesticviolence
      operationId: POST_clients-clientid-enrollments-enrollmentid-domesticviolences
      requestBody:
        content:
          application/json:
            schema:
              example:
                  domesticViolence:
                    informationDate: 03-16-2017
                    domesticViolenceVictim: 1
                    whenOccurred: 3
                    dataCollectionStage: 1
        required: true
    parameters:
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/domesticviolences/{domesticviolenceid}':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              schema:
                example:
                    domesticViolence:
                      domesticViolenceId: 73f7cd052ed1458eb445f26741d3f4ad
                      informationDate: 03-16-2017
                      domesticViolenceVictim: 1
                      whenOccurred: 3
                      dataCollectionStage: 1
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires an user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: Gets a domesticviolence using a URI resource parameter/ID.
      operationId: >-
        GET_clients-clientid-enrollments-enrollmentid-domesticviolences-domesticviolenceid
    put:
      responses:
        '200':
          description: OK – Everything is working.
        '304':
          description: Not Modified – The client can use cached data.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires a user.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Updates a specific domesticviolence specified by the URI resource
        parameter/ID.
      operationId: >-
        PUT_clients-clientid-enrollments-enrollmentid-domesticviolences-domesticviolenceid
      requestBody:
        content:
          application/json:
            schema:
              example:
                  domesticViolence:
                    informationDate: 03-16-2017
                    domesticViolenceVictim: 1
                    whenOccurred: 3
                    dataCollectionStage: 1
        required: true
    delete:
      responses:
        '204':
          description: OK – The resource was successfully deleted.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Deletes a specific domesticviolence specified by the URI resource
        parameter/ID.
      operationId: >-
        DELETE_clients-clientid-enrollments-enrollmentid-domesticviolences-domesticviolenceid
    parameters:
      - name: domesticviolenceid
        in: path
        required: true
        schema:
          type: string
        description: Domesticviolence Identifier
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/employments':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              schema:
                example:
                    employments:
                      pagination:
                        from: 0
                        returned: 1
                        total: 1
                        maximum: 30
                        sort: {}
                      employments:
                        - employmentId: 3d01bf85-75f0-4ee3-89aa-c603380afea2
                          employed: 9
                          employmentType: 2
                          notEmployedReason: 2
                          dataCollectionStage: 1
                          informationDate: 03-16-2016
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for employment.  Returns a list of employment ids, based on the
        query parameters sent.  The query parameters are cumulative, so each
        additional query parameter narrows the search down further.
      operationId: GET_clients-clientid-enrollments-enrollmentid-employments
      parameters:
        - name: startIndex
          in: query
          required: true
          description: >-
            start index

          schema:
            type: string
        - name: maxItems
          in: query
          required: true
          description: >-
            Max items in response

          schema:
            type: string
    post:
      responses:
        '201':
          description: OK - New resource has been created.
          content:
            application/json:
              schema:
                example:
                  employment:
                    employmentId: 3d01bf85-75f0-4ee3-89aa-c603380afea2
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            access is not allowed.
        '404':
          description: Not Found – There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: Internal Server Error.
      description: |
        Add a employment
      operationId: POST_clients-clientid-enrollments-enrollmentid-employments
      requestBody:
        content:
          application/json:
            schema:
              example:
                  employment:
                    employed: '9'
                    employmentType: '2'
                    notEmployedReason: '2'
                    informationDate: 03-16-2016
                    dataCollectionStage: '1'
        required: true
    parameters:
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/employments/{employmentid}':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              schema:
                example:
                    employment:
                      employmentId: 3d01bf85-75f0-4ee3-89aa-c603380afea2
                      employed: '9'
                      employmentType: '2'
                      notEmployedReason: '2'
                      dataCollectionStage: 1
                      informationDate: 1458124933736
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires an user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: Gets a employment using a URI resource parameter/ID.
      operationId: GET_clients-clientid-enrollments-enrollmentid-employments-employmentid
    put:
      responses:
        '200':
          description: OK – Everything is working.
        '304':
          description: Not Modified – The client can use cached data.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires a user.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Updates a specific employment specified by the URI resource
        parameter/ID.
      operationId: PUT_clients-clientid-enrollments-enrollmentid-employments-employmentid
      requestBody:
        content:
          application/json:
            schema:
              example:
                  employment:
                    employed: '9'
                    employmentType: '2'
                    notEmployedReason: '2'
                    informationDate: 03-16-2016
                    dataCollectionStage: '1'
        required: true
    delete:
      responses:
        '204':
          description: OK – The resource was successfully deleted.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Deletes a specific employment specified by the URI resource
        parameter/ID.
      operationId: >-
        DELETE_clients-clientid-enrollments-enrollmentid-employments-employmentid
    parameters:
      - name: employmentid
        in: path
        required: true
        schema:
          type: string
        description: Employment Identifier
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/enrollmentcocs':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              schema:
                example:
                    enrollmentCocs:
                      pagination:
                        from: 0
                        returned: 1
                        total: 1
                        maximum: 30
                        sort: {}
                      enrollmentCocs:
                        - enrollmentCocId: a9577ecf-5fb3-453e-9d3b-2bb81658ffe1
                          dataCollectionStage: 1
                          informationDate: 03-15-2016
                          clientCode: abc-123
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for enrollmentcoc.  Returns a list of enrollmentcoc ids, based
        on the query parameters sent.  The query parameters are cumulative, so
        each additional query parameter narrows the search down further.
      operationId: GET_clients-clientid-enrollments-enrollmentid-enrollmentcocs
      parameters:
        - name: startIndex
          in: query
          required: true
          description: >-
            start index

          schema:
            type: string
        - name: maxItems
          in: query
          required: true
          description: >-
            Max items in response

          schema:
            type: string
    post:
      responses:
        '201':
          description: OK - New resource has been created.
          content:
            application/json:
              schema:
                example:
                  enrollmentCoc:
                    enrollmentCocId: a9577ecf-5fb3-453e-9d3b-2bb81658ffe1
                    clientCode: abc-123
                    dataCollectionStage: 1
                    informationDate: 03-15-2016
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            access is not allowed.
        '404':
          description: Not Found – There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: Internal Server Error.
      description: |
        Add a enrollmentcoc
      operationId: POST_clients-clientid-enrollments-enrollmentid-enrollmentcocs
      requestBody:
        content:
          application/json:
            schema:
              example:
                  enrollmentCoc:
                    informationDate: 03-15-2016
                    dataCollectionStage: 1
                    clientCode: abc-123
        required: true
    parameters:
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/enrollmentcocs/{enrollmentcocid}':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              schema:
                example:
                    enrollmentCoc:
                      enrollmentCocId: a9577ecf-5fb3-453e-9d3b-2bb81658ffe1
                      clientCode: abc-123
                      dataCollectionStage: 1
                      informationDate: 03-15-2016
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires an user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: Gets a enrollmentcoc using a URI resource parameter/ID.
      operationId: >-
        GET_clients-clientid-enrollments-enrollmentid-enrollmentcocs-enrollmentcocid
    put:
      responses:
        '200':
          description: OK – Everything is working.
        '304':
          description: Not Modified – The client can use cached data.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires a user.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Updates a specific enrollmentcoc specified by the URI resource
        parameter/ID.
      operationId: >-
        PUT_clients-clientid-enrollments-enrollmentid-enrollmentcocs-enrollmentcocid
      requestBody:
        content:
          application/json:
            schema:
              example:
                  enrollmentCoc:
                    informationDate: 03-15-2016
                    dataCollectionStage: 1
                    clientCode: abc-123
        required: true
    delete:
      responses:
        '204':
          description: OK – The resource was successfully deleted.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Deletes a specific enrollmentcoc specified by the URI resource
        parameter/ID.
      operationId: >-
        DELETE_clients-clientid-enrollments-enrollmentid-enrollmentcocs-enrollmentcocid
    parameters:
      - name: enrollmentcocid
        in: path
        required: true
        schema:
          type: string
        description: Enrollmentcoc Identifier
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/exits':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json: 
              schema:
                example:
                  exits:
                      pagination:
                        from: 0
                        returned: 1
                        total: 1
                        maximum: 30
                        sort: {}
                      exits:
                        - exitId: 14c70311-2701-4c74-af47-2bb4fdfe48cd
                          exitDate: '03-17-2016'
                          destination: 24
                          otherDestination: Test destination
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for exit.  Returns a list of exit ids, based on the query
        parameters sent.  The query parameters are cumulative, so each
        additional query parameter narrows the search down further.
      operationId: GET_clients-clientid-enrollments-enrollmentid-exits
      parameters:
        - name: startIndex
          in: query
          required: true
          description: >-
            start index

          schema:
            type: string
        - name: maxItems
          in: query
          required: true
          description: >-
            Max items in response

          schema:
            type: string
    post:
      responses:
        '201':
          description: OK - New resource has been created.
          content:
            application/json:
              schema:
                example:
                  exitID: 9d57c33f-cc4e-47ff-8bbd-0580e7a0
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            access is not allowed.
        '404':
          description: Not Found – There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: Internal Server Error.
      description: |
        Add a exit
      operationId: POST_clients-clientid-enrollments-enrollmentid-exits
      requestBody:
        content:
          application/json:
            schema:
              example:
                  exitDate: '03-17-2016'
                  destination: 24
                  otherDestination: Test destination
        required: true
    parameters:
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/exits/{exitid}':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              schema:
                example:
                  exitID: 9d57c33f-cc4e-47ff-8bbd-0580e7a0
                  exitDate: '03-17-2016'
                  destination: 24
                  otherDestination: Test destination
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires an user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: Gets a exit using a URI resource parameter/ID.
      operationId: GET_clients-clientid-enrollments-enrollmentid-exits-exitid
    put:
      responses:
        '200':
          description: OK – Everything is working.
        '304':
          description: Not Modified – The client can use cached data.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires a user.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: Updates a specific exit specified by the URI resource parameter/ID.
      operationId: PUT_clients-clientid-enrollments-enrollmentid-exits-exitid
      requestBody:
        content:
          application/json:
            schema:
              example:
                  exitDate: '03-17-2016'
                  destination: 24
                  otherDestination: Test destination
        required: true
    delete:
      responses:
        '204':
          description: OK – The resource was successfully deleted.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: Deletes a specific exit specified by the URI resource parameter/ID.
      operationId: DELETE_clients-clientid-enrollments-enrollmentid-exits-exitid
    parameters:
      - name: exitid
        in: path
        required: true
        schema:
          type: string
        description: Exit Identifier
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/exits/{exitid}/connectionwithsoars':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              schema:
                example:
                    connectionwithsoars:
                      pagination:
                        from: 0
                        returned: 1
                        total: 1
                        maximum: 30
                        sort: {}
                      connectionwithsoars:
                        - connectionwithsoarId: 14c70311-2701-4c74-af47-2bb4fdfe48cd
                          connectionwithsoar: 1
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for connectionwithsoar.  Returns a list of connectionwithsoar
        ids, based on the query parameters sent.  The query parameters are
        cumulative, so each additional query parameter narrows the search down
        further.
      operationId: >-
        GET_clients-clientid-enrollments-enrollmentid-exits-exitid-connectionwithsoars
      parameters:
        - name: startIndex
          in: query
          required: true
          description: >-
            start index

          schema:
            type: string
        - name: maxItems
          in: query
          required: true
          description: >-
            Max items in response

          schema:
            type: string
    post:
      responses:
        '201':
          description: OK - New resource has been created.
          content:
            application/json:
              schema:
                example:
                  connectionwithsoar:
                    connectionwithsoarId: 14c70311-2701-4c74-af47-2bb4fdfe48cd
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            access is not allowed.
        '404':
          description: Not Found – There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: Internal Server Error.
      description: |
        Add a connectionwithsoar
      operationId: >-
        POST_clients-clientid-enrollments-enrollmentid-exits-exitid-connectionwithsoars
      requestBody:
        content:
          application/json:
            schema:
              example:
                  connectionwithsoar:
                    connectionwithsoar: 1
        required: true
    parameters:
      - name: exitid
        in: path
        required: true
        schema:
          type: string
        description: Exit Identifier
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/exits/{exitid}/connectionwithsoars/{connectionwithsoarid}':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              schema:
                example:
                    connectionwithsoar:
                      connectionwithsoarId: 14c70311-2701-4c74-af47-2bb4fdfe48cd
                      connectionwithsoar: 1
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires an user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: Gets a connectionwithsoar using a URI resource parameter/ID.
      operationId: >-
        GET_clients-clientid-enrollments-enrollmentid-exits-exitid-connectionwithsoars-connectionwithsoarid
    put:
      responses:
        '200':
          description: OK – Everything is working.
        '304':
          description: Not Modified – The client can use cached data.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires a user.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Updates a specific connectionwithsoar specified by the URI resource
        parameter/ID.
      operationId: >-
        PUT_clients-clientid-enrollments-enrollmentid-exits-exitid-connectionwithsoars-connectionwithsoarid
      requestBody:
        content:
          application/json:
            schema:
              example:
                  connectionwithsoar:
                    connectionwithsoar: 1
        required: true
    delete:
      responses:
        '204':
          description: OK – The resource was successfully deleted.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Deletes a specific connectionwithsoar specified by the URI resource
        parameter/ID.
      operationId: >-
        DELETE_clients-clientid-enrollments-enrollmentid-exits-exitid-connectionwithsoars-connectionwithsoarid
    parameters:
      - name: connectionwithsoarid
        in: path
        required: true
        schema:
          type: string
        description: Connectionwithsoar Identifier
      - name: exitid
        in: path
        required: true
        schema:
          type: string
        description: Exit Identifier
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/exits/{exitid}/exithousingassessments':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              schema:
                example:
                    exithousingassessments:
                      pagination:
                        from: 0
                        returned: 2
                        total: 2
                        maximum: 30
                        sort: {}
                      exithousingassessments:
                        - exithousingassessmentId: a246781e-f38a-4b41-80a4-7cc0b28f74b1
                          housingassessment: 0
                          subsidyinformation: 1
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for exithousingassessment.  Returns a list of
        exithousingassessment ids, based on the query parameters sent.  The
        query parameters are cumulative, so each additional query parameter
        narrows the search down further.
      operationId: >-
        GET_clients-clientid-enrollments-enrollmentid-exits-exitid-exithousingassessments
      parameters:
        - name: startIndex
          in: query
          required: true
          description: >-
            start index

          schema:
            type: string
        - name: maxItems
          in: query
          required: true
          description: >-
            Max items in response

          schema:
            type: string
    post:
      responses:
        '201':
          description: OK - New resource has been created.
          content:
            application/json:
              schema:
                example:
                  housingassessment:
                    housingassessmentId: 4233d1db-4961-4730-a690-3bc17c3e310a
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            access is not allowed.
        '404':
          description: Not Found – There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: Internal Server Error.
      description: |
        Add a exithousingassessment
      operationId: >-
        POST_clients-clientid-enrollments-enrollmentid-exits-exitid-exithousingassessments
      requestBody:
        content:
          application/json:
            schema:
              example:
                  housingassessment:
                    housingassessment: 1
                    subsidyinformation: 2
        required: true
    parameters:
      - name: exitid
        in: path
        required: true
        schema:
          type: string
        description: Exit Identifier
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/exits/{exitid}/exithousingassessments/{exithousingassessmentid}':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              schema:
                example:
                    housingassessment:
                      housingassessmentId: 4233d1db-4961-4730-a690-3bc17c3e310a
                      housingassessment: 1
                      subsidyinformation: 2
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires an user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: Gets a exithousingassessment using a URI resource parameter/ID.
      operationId: >-
        GET_clients-clientid-enrollments-enrollmentid-exits-exitid-exithousingassessments-exithousingassessmentid
    put:
      responses:
        '200':
          description: OK – Everything is working.
        '304':
          description: Not Modified – The client can use cached data.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires a user.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Updates a specific exithousingassessment specified by the URI resource
        parameter/ID.
      operationId: >-
        PUT_clients-clientid-enrollments-enrollmentid-exits-exitid-exithousingassessments-exithousingassessmentid
      requestBody:
        content:
          application/json:
            schema:
              example:
                  housingassessment:
                    housingassessment: 1
                    subsidyinformation: 2
        required: true
    delete:
      responses:
        '204':
          description: OK – The resource was successfully deleted.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Deletes a specific exithousingassessment specified by the URI resource
        parameter/ID.
      operationId: >-
        DELETE_clients-clientid-enrollments-enrollmentid-exits-exitid-exithousingassessments-exithousingassessmentid
    parameters:
      - name: exithousingassessmentid
        in: path
        required: true
        schema:
          type: string
        description: Exithousingassessment Identifier
      - name: exitid
        in: path
        required: true
        schema:
          type: string
        description: Exit Identifier
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/exits/{exitid}/exitplansactions':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              schema:
                example:
                    exitPlansActionsList:
                      pagination:
                        from: 0
                        returned: 0
                        total: 0
                        maximum: 30
                        sort: {}
                      exitPlansActionsList:
                        - exitPlansActionsId: 5c025aea-ecdc-4902-b451-4436b64a83ea
                          assistancemainstreambenefits: 1
                          exitcounseling: 1
                          furtherfollowupservices: 2
                          otheraftercareplanoraction: 3
                          permanenthousingplacement: 1
                          resourcepackage: 2
                          scheduledfollowupcontacts: 3
                          temporaryshelterplacement: 2
                          writtenaftercareplan: 1
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for exitplansaction.  Returns a list of exitplansaction ids,
        based on the query parameters sent.  The query parameters are
        cumulative, so each additional query parameter narrows the search down
        further.
      operationId: >-
        GET_clients-clientid-enrollments-enrollmentid-exits-exitid-exitplansactions
      parameters:
        - name: startIndex
          in: query
          required: true
          description: >-
            start index

          schema:
            type: string
        - name: maxItems
          in: query
          required: true
          description: >-
            Max items in response

          schema:
            type: string
    post:
      responses:
        '201':
          description: OK - New resource has been created.
          content:
            application/json:
              schema:
                example:
                  exitPlansActions:
                    exitPlansActionsId: 4233d1db-4961-4730-a690-3bc17c3e310a
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            access is not allowed.
        '404':
          description: Not Found – There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: Internal Server Error.
      description: |
        Add a exitplansaction
      operationId: >-
        POST_clients-clientid-enrollments-enrollmentid-exits-exitid-exitplansactions
      requestBody:
        content:
          application/json:
            schema:
              example:
                  exitPlansActions:
                    assistancemainstreambenefits: 1
                    exitcounseling: 1
                    furtherfollowupservices: 2
                    otheraftercareplanoraction: 3
                    permanenthousingplacement: 1
                    resourcepackage: 2
                    scheduledfollowupcontacts: 3
                    temporaryshelterplacement: 2
                    writtenaftercareplan: 1
        required: true
    parameters:
      - name: exitid
        in: path
        required: true
        schema:
          type: string
        description: Exit Identifier
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/exits/{exitid}/exitplansactions/{exitplansactionid}':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              schema:
                example:
                    exitPlansActions:
                      exitPlansActionsId: 4233d1db-4961-4730-a690-3bc17c3e310a
                      assistancemainstreambenefits: 1
                      exitcounseling: 1
                      furtherfollowupservices: 2
                      otheraftercareplanoraction: 3
                      permanenthousingplacement: 1
                      resourcepackage: 2
                      scheduledfollowupcontacts: 3
                      temporaryshelterplacement: 2
                      writtenaftercareplan: 1
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires an user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: Gets a exitplansaction using a URI resource parameter/ID.
      operationId: >-
        GET_clients-clientid-enrollments-enrollmentid-exits-exitid-exitplansactions-exitplansactionid
    put:
      responses:
        '200':
          description: OK – Everything is working.
        '304':
          description: Not Modified – The client can use cached data.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires a user.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Updates a specific exitplansaction specified by the URI resource
        parameter/ID.
      operationId: >-
        PUT_clients-clientid-enrollments-enrollmentid-exits-exitid-exitplansactions-exitplansactionid
      requestBody:
        content:
          application/json:
            schema:
              example:
                  exitPlansActions:
                    assistancemainstreambenefits: 1
                    exitcounseling: 1
                    furtherfollowupservices: 2
                    otheraftercareplanoraction: 3
                    permanenthousingplacement: 1
                    resourcepackage: 2
                    scheduledfollowupcontacts: 3
                    temporaryshelterplacement: 2
                    writtenaftercareplan: 1
        required: true
    delete:
      responses:
        '204':
          description: OK – The resource was successfully deleted.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Deletes a specific exitplansaction specified by the URI resource
        parameter/ID.
      operationId: >-
        DELETE_clients-clientid-enrollments-enrollmentid-exits-exitid-exitplansactions-exitplansactionid
    parameters:
      - name: exitplansactionid
        in: path
        required: true
        schema:
          type: string
        description: Exitplansaction Identifier
      - name: exitid
        in: path
        required: true
        schema:
          type: string
        description: Exit Identifier
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/exits/{exitid}/familyreunifications':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              schema:
                example:
                    familyReunifications:
                      pagination:
                        from: 0
                        returned: 0
                        total: 0
                        maximum: 30
                        sort: {}
                      familyReunifications:
                        - familyReunificationId: 5c025aea-ecdc-4902-b451-4436b64a83ea
                          familyreunificationachieved: 0
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for familyreunification.  Returns a list of familyreunification
        ids, based on the query parameters sent.  The query parameters are
        cumulative, so each additional query parameter narrows the search down
        further.
      operationId: >-
        GET_clients-clientid-enrollments-enrollmentid-exits-exitid-familyreunifications
      parameters:
        - name: startIndex
          in: query
          required: true
          description: >-
            start index

          schema:
            type: string
        - name: maxItems
          in: query
          required: true
          description: >-
            Max items in response

          schema:
            type: string
    post:
      responses:
        '201':
          description: OK - New resource has been created.
          content:
            application/json:
              schema:
                example:
                  familyReunification:
                    familyReunificationId: a87d4463-7e25-4df8-a079-b5f3dcecc6cc
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            access is not allowed.
        '404':
          description: Not Found – There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: Internal Server Error.
      description: |
        Add a familyreunification
      operationId: >-
        POST_clients-clientid-enrollments-enrollmentid-exits-exitid-familyreunifications
      requestBody:
        content:
          application/json:
            schema:
              example:
                  familyReunification:
                    familyreunificationachieved: 0
        required: true
    parameters:
      - name: exitid
        in: path
        required: true
        schema:
          type: string
        description: Exit Identifier
      - name: enrollmentid
        in: path
        required: true
        schema:
          type: string
        description: Enrollment Identifier
      - name: clientid
        in: path
        required: true
        schema:
          type: string
        description: Client Identifier
  '/clients/{clientid}/enrollments/{enrollmentid}/exits/{exitid}/familyreunifications/{familyreunificationid}':
    get:
      responses:
        '200':
          description: OK – Everything is working.
          content:
            application/json:
              schema:
                example:
                    familyReunification:
                      familyReunificationId: a87d4463-7e25-4df8-a079-b5f3dcecc6cc
                      familyreunificationachieved: 0
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires an user authentication.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: Gets a familyreunification using a URI resource parameter/ID.
      operationId: >-
        GET_clients-clientid-enrollments-enrollmentid-exits-exitid-familyreunifications-familyreunificationid
    put:
      responses:
        '200':
          description: OK – Everything is working.
        '304':
          description: Not Modified – The client can use cached data.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires a user.
        '403':
          description: >-
            Forbidden – The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Updates a specific familyreunification specified by the URI resource
        parameter/ID.
      operationId: >-
        PUT_clients-clientid-enrollments-enrollmentid-exits-exitid-familyreunifications-familyreunificationid
      requestBody:
        content:
          application/json:
            schema:
              example:
                  familyReunification:
                    familyreunificationachieved: 0
        required: true
    delete:
      responses:
        '204':
[...]
